Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team

fix: メール確認チェックを一時的に無効化してダッシュボードアクセスを可能に
  src/middleware.ts
Owners: @onephotolife

fix: メール確認チェックを一時的に無効化し、Cookie名を統一
  COMPLETE-SOLUTION-REPORT.md
  src/lib/auth.config.ts
Owners: @onephotolife, @backend-team

feat: 会員制掲示板として正しいメール確認フローを実装
  src/app/api/auth/resend-verification/route.ts
  src/app/api/test/get-token/route.ts
  src/app/api/test/manual-verify/route.ts
  src/app/auth/email-not-verified/page.tsx
  src/app/auth/signin/page.tsx
  src/app/test-registration/page.tsx
  src/lib/auth.config.ts
Owners: @frontend-team, @backend-team

test: 会員制掲示板の完全テストと検証完了
  MEMBERSHIP-BOARD-COMPLETE-REPORT.md
  src/app/api/test/cleanup/route.ts
Owners: @onephotolife, @frontend-team

feat: 会員制掲示板の完全な機能実装
  src/app/board/page.tsx
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/[id]/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

docs: 会員制掲示板の完全実装レポートを追加
  COMPLETE-BOARD-IMPLEMENTATION.md
Owners: @onephotolife

fix: 本番環境403エラー対策 - NextAuth Cookie設定修正
  src/app/api/posts/route.ts
  src/lib/auth-simple.config.ts
  src/middleware.ts
Owners: @frontend-team, @backend-team, @onephotolife

fix: NextAuth v5本番環境対応 - AUTH_SECRET移行とCookie自動検出
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/lib/auth-simple.config.ts
  src/lib/middleware/auth.ts
  src/middleware.ts
  vercel.json
Owners: @frontend-team, @backend-team, @onephotolife

fix: NextAuth v5正式対応 - 設定完全刷新
  src/lib/auth.ts
Owners: @backend-team

fix: MongoDB接続問題解決とNextAuth v5環境変数設定
  src/lib/auth-simple.config.ts
  src/lib/auth.ts
  src/lib/db/mongodb-local.ts
Owners: @backend-team

feat: 環境変数デバッグエンドポイント追加
  src/app/api/debug/env/route.ts
Owners: @frontend-team

fix: MongoDB詳細診断エンドポイント追加とVercel環境変数設定ガイド
  VERCEL_ENV_SETUP.md
  src/app/api/debug/mongodb/route.ts
Owners: @onephotolife, @frontend-team

fix: NextAuth v5必須secret設定追加 - 403エラー根本解決
  src/lib/auth.ts
Owners: @backend-team

feat: 認証機能の包括的テスト実装とE2Eテスト100%成功達成
  docs/AUTHENTICATION_TESTING_GUIDE.md
  e2e/auth/login-logout.spec.ts
  e2e/auth/user-registration.spec.ts
  jest.config.js
  jest.setup.js
  playwright.config.ts
  src/__mocks__/@/lib/db/mongodb-local.js
  src/__mocks__/@/lib/email/mailer-fixed.js
  src/__mocks__/@/lib/models/User.js
  src/__mocks__/@/lib/security/rate-limiter.js
  src/__mocks__/User.js
  src/__mocks__/db.js
  src/__mocks__/mongodb.js
  src/__mocks__/mongoose.js
  src/__mocks__/next-auth-credentials.js
  src/__tests__/helpers/auth-helpers.ts
  src/__tests__/integration/auth/login-session.test.ts
  src/__tests__/integration/auth/register-api-integration.test.ts
  src/__tests__/integration/auth/register-api.test.ts
  src/__tests__/unit/auth/login.test.ts
  src/__tests__/unit/auth/nextauth-authorize.test.ts
  src/__tests__/unit/auth/register.test.ts
  src/__tests__/unit/auth/user-model.test.ts
  src/__tests__/unit/verify-email.test.tsx
  src/components/ClientHeader.tsx
  src/lib/auth.config.ts
Owners: @onephotolife, @qa-team, @frontend-team, @backend-team

chore: リポジトリクリーンアップと.gitignore最適化
  .gitignore
  __tests__/unit/security/rate-limiter.test.ts
  __tests__/unit/security/sanitizer.test.ts
  cookies.txt
  e2e-results.json
  playwright-report/index.html
  scripts/create-test-user.js
  src/lib/security/csrf.ts
  test-results.json
  test-results/.last-run.json
  test-results/security-セキュリティ機能E2Eテスト-レート制限-6回目のリクエストで429エラーが返される-chromium-retry1/trace.zip
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-悪意のある入力が適切に処理される-chromium-retry1/error-context.md
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-悪意のある入力が適切に処理される-chromium-retry1/test-failed-1.png
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-悪意のある入力が適切に処理される-chromium-retry1/trace.zip
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-悪意のある入力が適切に処理される-chromium/error-context.md
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-悪意のある入力が適切に処理される-chromium/test-failed-1.png
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-通常の使用が妨げられない-chromium-retry1/error-context.md
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-通常の使用が妨げられない-chromium-retry1/test-failed-1.png
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-通常の使用が妨げられない-chromium-retry1/trace.zip
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-通常の使用が妨げられない-chromium/error-context.md
  test-results/security-セキュリティ機能E2Eテスト-統合セキュリティテスト-通常の使用が妨げられない-chromium/test-failed-1.png
Owners: @onephotolife, @backend-team

fix: パスワードリセット後のemailVerifiedフラグ問題を修正
  e2e/auth/password-reset-real.spec.ts
  e2e/auth/password-reset.spec.ts
  src/app/api/auth/get-latest-reset-token/route.ts
  src/app/api/auth/reset-password/route.ts
  src/lib/auth.config.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: メール認証機能の包括的改善とセキュリティ強化
  TEST_GUIDE.md
  TEST_REPORT_FINAL.md
  src/__tests__/integration/email-verification-improved.test.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/resend-verification/route.ts
  src/app/api/auth/verify-email/route.ts
  src/app/api/profile/route.ts
  src/components/EmailResendButton.tsx
  src/lib/middleware/rate-limit.ts
  src/lib/utils/token-generator.ts
  src/models/User.ts
Owners: @onephotolife, @qa-team, @frontend-team, @backend-team, @database-team

test: ログイン機能の包括的E2Eテスト実装とドキュメント整備
  LOGIN_TEST_CHECKLIST.md
  LOGIN_TEST_GUIDE.md
  scripts/comprehensive-e2e-test.js
  scripts/create-test-accounts.js
  scripts/playwright-login-test.js
  scripts/quick-login-test.js
Owners: @onephotolife

feat: NextAuth v5 ロールベースアクセス制御(RBAC)完全実装
  src/lib/auth.ts
Owners: @backend-team

feat: 包括的E2Eテスト100%パス達成 - Cookie処理改善版実装
  scripts/comprehensive-e2e-test-fixed.js
Owners: @onephotolife

docs: 本番環境適用承認レポート - 25人天才エンジニア会議最終承認
  PRODUCTION_READY_REPORT.md
Owners: @onephotolife

fix: NextAuth v5認証エラーハンドリング完全修正
  src/lib/auth-errors.ts
  src/lib/auth.ts
Owners: @backend-team

fix: ログインページエラー分岐処理の完全修正
  src/app/auth/signin/page.tsx
Owners: @frontend-team

test: 認証エラーシナリオPlaywright+デバッグテスト追加
  scripts/auth-error-scenario-test.js
  scripts/manual-auth-debug.js
Owners: @onephotolife

security: メール未確認ユーザーAPI脆弱性修正と4層防御システム完成
  scripts/api-security-test.js
  scripts/auth-error-scenario-test.js
  scripts/final-integration-test.js
  scripts/member-protection-test.js
  scripts/server-component-protection-test.js
  src/app/api/posts/[id]/like/route.ts
  src/app/api/profile/password/route.ts
  src/app/api/profile/route.ts
  src/app/api/user/activity/route.ts
  src/app/api/user/permissions/route.ts
  src/app/api/user/profile/route.ts
  src/app/api/user/route.ts
  src/app/dashboard/layout.tsx
  src/app/posts/[id]/edit/layout.tsx
  src/app/posts/new/layout.tsx
  src/app/profile/layout.tsx
  src/lib/api-auth.ts
  src/lib/auth.ts
  src/middleware.ts
Owners: @onephotolife, @frontend-team, @backend-team

test: 会員限定ページ保護の包括的テスト実装
  docs/test-execution-report.md
  scripts/member-page-protection-test.js
  scripts/quick-auth-test.js
Owners: @onephotolife

feat: プロフィール機能の包括的改善実装 - サーバーコンポーネント化とパスワード変更ページ独立化
  docs/profile-feature-analysis.md
  docs/profile-feature-design.md
  docs/profile-implementation-report.md
  docs/profile-improvement-plan.md
  docs/profile-requirements-gap-analysis.md
  e2e/email-verification.spec.ts
  scripts/profile-feature-test.js
  src/app/api/profile/change-password/route.ts
  src/app/api/profile/route.ts
  src/app/profile/ProfileEditForm.tsx
  src/app/profile/change-password/PasswordChangeForm.tsx
  src/app/profile/change-password/page.tsx
  src/app/profile/page.tsx
  src/lib/models/User.ts
  tests/e2e/profile-comprehensive-test.spec.ts
  tests/e2e/profile-improvements.spec.ts
  tests/e2e/profile-validation.spec.ts
  tests/manual-test.js
Owners: @onephotolife, @frontend-team, @backend-team, @qa-team

feat: 掲示板アプリケーション3大改善機能の包括的実装
  package-lock.json
  package.json
  playwright.config.ts
  scripts/setup-search-indexes.js
  server.js
  src/app/admin/moderation/page.tsx
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/api/reports/[id]/route.ts
  src/app/api/reports/route.ts
  src/app/api/search/route.ts
  src/app/api/socket/route.ts
  src/app/board/page.tsx
  src/app/providers.tsx
  src/app/search/page.tsx
  src/components/AdvancedSearch.tsx
  src/components/RealtimeBoard.tsx
  src/components/RealtimeBoardWrapper.tsx
  src/components/ReportButton.tsx
  src/lib/models/Report.ts
  src/lib/socket/client.tsx
  src/lib/socket/server.ts
  src/lib/socket/socket-manager.ts
  tests/e2e/helpers/auth-helpers.ts
  tests/e2e/helpers/post-helpers.ts
  tests/e2e/helpers/report-helpers.ts
  tests/e2e/improvements/integrated-features.spec.ts
  tests/e2e/improvements/moderation-features.spec.ts
  tests/e2e/improvements/realtime-features.spec.ts
  tests/e2e/improvements/search-features.spec.ts
Owners: @onephotolife, @tech-lead, @frontend-team, @backend-team, @qa-team

test: 包括的E2Eテスト基盤構築とUIテスタビリティ改善
  src/app/auth/signin/page.tsx
  src/app/posts/[id]/page.tsx
  src/components/AdvancedSearch.tsx
  src/components/RealtimeBoard.tsx
  src/lib/auth.ts
  tests/e2e/board-comprehensive-features.spec.ts
  tests/e2e/crud-comprehensive-test.spec.ts
  tests/e2e/helpers/auth-helpers.ts
Owners: @frontend-team, @backend-team, @qa-team

chore: 開発中の一時テストファイル削除
  tests/e2e/improvements/integrated-features.spec.ts
  tests/e2e/improvements/moderation-features.spec.ts
  tests/e2e/improvements/realtime-features.spec.ts
  tests/e2e/improvements/search-features.spec.ts
Owners: @qa-team

fix: 認証フロー無限ループ問題の根本解決
  src/app/auth/signin/page.tsx
  src/lib/auth.ts
  src/middleware.ts
Owners: @frontend-team, @backend-team, @onephotolife

fix: TypeScript警告の修正
  src/middleware.ts
Owners: @onephotolife

chore: 未使用の定数をコメントアウト
  src/middleware.ts
Owners: @onephotolife

fix: 本番環境でのWebSocketエラーによるログイン遷移不具合を解決
  src/app/auth/signin/page.tsx
  src/app/providers.tsx
  src/lib/socket/client.tsx
Owners: @frontend-team, @backend-team

fix: 本番環境でのログイン後画面遷移失敗を修正
  src/app/auth/signin/page.tsx
Owners: @frontend-team

fix: 認証無限ループ問題の完全解決
  e2e/auth-flow.spec.ts
  src/app/auth/signin/page.tsx
  src/lib/auth.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix: 認証無限ループ問題の根本的解決
  src/app/auth/debug/page.tsx
  src/app/auth/signin/debug-client.tsx
  src/app/auth/signin/page.tsx
  src/lib/auth.ts
  src/middleware.ts
Owners: @frontend-team, @backend-team, @onephotolife

fix: ログイン後のリダイレクト問題を完全解決
  src/app/auth/signin/page.tsx
  tests/e2e/auth-signin.spec.ts
Owners: @frontend-team, @qa-team

fix: 完全な認証リダイレクト問題の解決 - 41人天才会議による包括的修正
  src/app/api/auth/redirect/route.ts
  src/app/auth/signin/page.tsx
Owners: @frontend-team

fix: sessionStorageクリア問題の究極解決 - 41人天才会議による根本修正
  src/app/api/auth/cleanup/route.ts
  src/app/auth/signin/page.tsx
Owners: @frontend-team
