Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

feat: GitHub開発ワークフロー自動化の実装
  .github/PULL_REQUEST_TEMPLATE/bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE/hotfix.md
  .github/PULL_REQUEST_TEMPLATE/refactor.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/pr-check.yml
  .github/workflows/pr-label.yml
  .github/workflows/pr-size.yml
  docs/github-actions-guide.md
  docs/pr-template-guide.md
Owners: @onephotolife, @devops-team

feat: プロジェクト開発環境の設定とドメイン関連ツールの追加
  .claude/settings.local.json
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/memories/code_style_conventions.md
  .serena/memories/project_overview.md
  .serena/memories/project_structure.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_checklist.md
  .serena/project.yml
  docs/domain-check-guide.md
  docs/domain-evaluation.md
  docs/domain-name-suggestions.md
  docs/sakura-domain-checklist.md
  scripts/check-domain-api.js
  scripts/check-domain.sh
  scripts/domain-setup-guide.sh
Owners: @onephotolife

feat:メール設定の準備完了
  dmarc-phase1-verification-result.md
  dmarc-verification-20250806-231258.log
  docs/dkim-testing-guide.md
  docs/dmarc-deployment-guide.md
  docs/dmarc-monitoring-dashboard.html
  docs/dmarc-monitoring-guide.md
  docs/dmarc-stage1-record.txt
  docs/dmarc-verification-guide.md
  docs/sakura-dkim-setup-guide.md
  scripts/analyze-email-headers.py
  scripts/check-dkim-dns.sh
  scripts/check-dmarc-reports.py
  scripts/check-dmarc.sh
  scripts/dkim-test-automation.sh
  scripts/dmarc-deployment-manager.sh
  scripts/dmarc-full-verification.sh
  scripts/dmarc-report-analyzer.py
Owners: @onephotolife

feat: 会員制掲示板機能の実装と認証システムの追加
  package-lock.json
  package.json
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/auth/verify-email/route.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
  src/app/board/layout.tsx
  src/app/board/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/components/Header.tsx
  src/lib/auth.config.ts
  src/lib/auth.ts
  src/lib/db/mongodb.ts
  src/lib/mail/sendMail.ts
  src/lib/models/Post.ts
  src/lib/models/User.ts
  src/middleware.ts
  src/types/next-auth.d.ts
Owners: @onephotolife, @tech-lead, @frontend-team, @backend-team

feat: エラーハンドリングシステムの強化と新機能の追加
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  docs/error-handling-guide.md
  package-lock.json
  package.json
  src/__tests__/error-handling.test.ts
  src/app/api/auth/request-reset/route.ts
  src/app/auth/reset-password/page.tsx
  src/components/ErrorDisplay.tsx
  src/lib/mail/sendMail.ts
  src/lib/mail/sendMailWithResend.ts
  src/lib/models/User.ts
  src/lib/utils/errorMessages.ts
  src/styles/modern-2025.ts
  test-smtp.js
Owners: @onephotolife, @tech-lead, @qa-team, @frontend-team, @backend-team, @design-team

feat: パスワードリセット機能とメール送信機能の強化
  src/app/api/auth/request-reset-test/route.ts
  src/lib/mail/sendMailEnhanced.ts
Owners: @frontend-team, @backend-team

feat: ヘッダーボタン削除に伴う動作確認テストとガイドの追加
  src/app/api/auth/register/route.ts
  src/app/api/auth/request-reset/route.ts
  src/app/test-email/page.tsx
  src/components/ClientHeader.tsx
  src/components/Header.tsx
  src/components/ModernHeader.tsx
  src/components/PureHeader.tsx
  src/lib/email/mailer-fixed.ts
  src/lib/email/templates/password-reset.tsx
  src/lib/email/templates/verification.tsx
  test-header-changes.js
  verify-header-changes.md
Owners: @frontend-team, @backend-team, @onephotolife

feat: 完全な新規登録フロー実装とセキュリティ強化
  REGISTRATION_FLOW_DOCUMENTATION.md
  package-lock.json
  package.json
  server.log
  src/app/api/auth/check-email/route.ts
  src/app/api/auth/register/route.ts
  src/app/auth/signup/page.tsx
  src/components/PasswordStrengthIndicator.tsx
  src/lib/utils/password-validation.ts
  test-registration-flow.js
Owners: @onephotolife, @tech-lead, @frontend-team, @backend-team

feat: 新規登録フローのテストスクリプトを追加し、レート制限対策を強化
  package-lock.json
  server.log
  src/app/api/auth/check-email/route.ts
  src/app/api/auth/register/route.ts
  src/lib/models/User.ts
  src/lib/utils/password-validation.ts
  test-complete-registration-flow-fixed.js
  test-complete-registration-flow.js
  test-simple-api.js
Owners: @onephotolife, @frontend-team, @backend-team

feat: メール認証機能の実装とテストスクリプトを追加
  EMAIL_SEND_FIX_REPORT.md
  EMAIL_VERIFICATION_IMPLEMENTATION.md
  EMAIL_VERIFICATION_TEST_GUIDE.md
  EMAIL_VERIFICATION_TEST_RESULTS.md
  SECURITY_BEST_PRACTICES_REPORT.md
  check-test-users.js
  scripts/create-test-user-atlas.js
  scripts/create-test-user-for-verification.js
  scripts/run-complete-verification-test.sh
  scripts/test-email-verification-complete.js
  scripts/test-security-best-practices.js
  src/app/api/auth/register/route.ts
  src/app/api/auth/resend/route.ts
  src/app/api/auth/verify/route.ts
  src/app/auth/verify/page.tsx
  src/lib/auth/rate-limit.ts
  src/lib/auth/tokens.ts
  src/lib/email/dev-mailer.ts
  src/lib/email/mailer.ts
  src/lib/errors/auth-errors.ts
  src/models/RateLimit.ts
  test-email-send-fix.js
  test-email-verification-flow.js
  test-simple-verification.js
Owners: @onephotolife, @frontend-team, @backend-team, @database-team

feat: メール認証機能に関する新しいレポートとギャップ分析を追加
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  AUTHENTICATION_BEST_PRACTICES_REPORT.md
  AUTHENTICATION_IMPLEMENTATION_GAPS.md
  AUTHENTICATION_SECURITY_AUDIT.md
Owners: @onephotolife

feat: MongoDB接続エラー分析レポートとテストスクリプトを追加
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  MONGODB_ERROR_ANALYSIS.md
  MONGODB_ERROR_COMPREHENSIVE_REPORT.md
  scripts/analyze-mongodb-errors.js
  scripts/test-mongodb-connections.js
Owners: @onephotolife

feat: CSPセキュリティスコア95点達成のための自動改善プロンプトを追加
  CSP_95_SCORE_ACHIEVEMENT_PROMPT.md
Owners: @onephotolife

feat: CSPエラー解決のための新しいドキュメントとスクリプトを追加
  CSP_ADVANCED_SOLUTION_PROMPT.md
  CSP_TEST_REPORT.md
  next.config.ts
  scripts/auto-implement-csp-95.js
  scripts/test-csp.js
  src/app/api/csp-report/route.ts
  src/lib/csp-nonce.ts
  src/lib/trusted-types.ts
  src/middleware.ts
Owners: @onephotolife, @tech-lead, @frontend-team, @backend-team

feat: パスワード再利用防止機能の実装とUX改善
  CSP_EMERGENCY_FIX_PROMPT.md
  PASSWORD_REUSE_PREVENTION_REPORT.md
  PASSWORD_REUSE_SECURITY_ANALYSIS_PROMPT.md
  PASSWORD_UX_IMPROVEMENT_PROMPT.md
  PASSWORD_UX_IMPROVEMENT_REPORT.md
  SITE_RECOVERY_REPORT.md
  scripts/manual-test-password-reuse.md
  scripts/test-password-reuse-api.mjs
  scripts/test-password-reuse-prevention.js
  src/app/api/auth/reset-password/route.ts
  src/app/auth/reset-password/[token]/page.tsx
  src/components/PasswordEducation.tsx
  src/lib/auth/password-validator.ts
  src/lib/models/User.ts
  src/lib/security/audit-log.ts
  src/lib/utils/passwordGenerator.ts
  src/middleware.ts
  test-password-ux-improvements.mjs
  test-site-recovery.mjs
Owners: @onephotolife, @frontend-team, @backend-team

feat: 掲示板アプリのHTML構造エラー修正とUI/UX改善
  BOARD_HTML_FIX_AND_UI_IMPROVEMENT_REPORT.md
  BOARD_UI_ERROR_AND_UX_IMPROVEMENT_PROMPT.md
  package-lock.json
  package.json
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/board/page.tsx
  src/components/EnhancedPostCard.tsx
  src/models/Post.ts
Owners: @onephotolife, @tech-lead, @frontend-team, @database-team, @backend-team

feat: 掲示板アプリのアクセシビリティとデータ同期問題の修正
  .prettierrc.json
  .vscode/settings.json
  ARIA_AND_DATA_SYNC_FIX_PROMPT.md
  ARIA_DATA_SYNC_FIX_REPORT.md
  BEST_PRACTICE_IMPLEMENTATION_PROMPT.md
  BOARD_AUTH_AND_IMPORT_ERROR_PROMPT.md
  JSX_PARSE_ERROR_FIX_PROMPT.md
  JSX_PARSE_ERROR_FIX_REPORT.md
  LOGIN_UX_IMPROVEMENT_PROMPT.md
  LOGIN_UX_IMPROVEMENT_REPORT.md
  MEMBER_BOARD_FIX_PROMPT.md
  MEMBER_BOARD_FIX_REPORT.md
  eslint.config.mjs
  scripts/check-mongodb.js
  src/app/api/posts/route.ts
  src/app/board/page.tsx
  src/app/page.tsx
  src/components/HomePage/AuthButtons.tsx
  src/components/HomePage/FeatureGrid.tsx
  src/components/HomePage/PasswordResetLink.tsx
  src/components/QuickPostCard.tsx
  src/components/WelcomeSection.tsx
  src/lib/models/Post.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: メール認証機能のエンドツーエンドテストプロンプトと検証レポートを追加
  EMAIL_AUTH_E2E_TEST_PROMPT.md
  EMAIL_AUTH_E2E_VERIFICATION_REPORT.md
  EMAIL_VERIFICATION_TEST_PROMPT.md
  EMAIL_VERIFICATION_TEST_REPORT.md
  scripts/test-email-auth-e2e.js
  scripts/test-email-verification.js
Owners: @onephotolife

feat: ヘッダーコンポーネントにユーザー情報セクションを追加
  src/components/ModernHeader.tsx
Owners: @frontend-team

feat: Claude Code通知システムの新規実装
  claude-notifications/README.md
  claude-notifications/claude-code-integration-guide.md
  claude-notifications/claude-code-settings-example.json
  claude-notifications/config-template.sh
  claude-notifications/debug-sound.sh
  claude-notifications/notify.sh
  claude-notifications/setup.sh
  claude-notifications/test-notification.sh
Owners: @onephotolife

feat: Claude CodeのグローバルHook設定と通知スクリプトの追加
  .claude/settings.local.json
  GLOBAL_HOOK_SETUP_COMPLETE.md
  HOOK_CONFIGURATION_REPORT.md
  global-claude-notify.sh
  hook-test-simple.sh
Owners: @onephotolife

feat: 通知スクリプトの音再生機能を改善し、Chatworkメッセージのフォーマットを修正
  claude-notifications/notify.sh
  hook-test.log
Owners: @onephotolife

feat: Next.jsの設定ファイルを追加し、MUIコンポーネントのインポートを最適化
  next.config.js
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

feat: プロフィール管理機能の追加とユーザーコンテキストの実装
  src/app/api/profile/password/route.ts
  src/app/api/profile/route.ts
  src/app/profile/components/PasswordChangeDialog.tsx
  src/app/profile/page.tsx
  src/app/providers.tsx
  src/contexts/UserContext.tsx
  src/lib/utils/avatar.ts
  src/lib/validations/profile.ts
  src/models/User.ts
Owners: @frontend-team, @onephotolife, @backend-team, @database-team

feat: プロフィール機能のデバッグスクリプトとテストガイドの追加
  PROFILE_COMPLETE_TEST_GUIDE.md
  PROFILE_TEST_FINAL_REPORT.md
  PROFILE_TEST_MANUAL.md
  PROFILE_VISUAL_CHECKLIST.md
  debug-profile.js
  quick-profile-check.js
  run-profile-tests.sh
  src/app/api/profile/password/route.ts
  src/app/api/profile/route.ts
  src/components/ClientHeader.tsx
  test-profile-automated.js
  test-profile-setup.js
  test-results.md
Owners: @onephotolife, @frontend-team

feat: プロフィール機能の修正とテストスクリプトの追加
  PROFILE_BIO_FIX_COMPLETE.md
  dev.log
  e2e-test-final-state.png
  fix-mongodb-bio.js
  profile-error-screenshot.png
  public/test-bio.html
  real-test-result.png
  src/app/api/profile-test/route.ts
  src/app/api/profile/route.ts
  src/app/api/profile/simple/route.ts
  src/app/clean-test/page.tsx
  src/app/layout.tsx
  src/app/profile/page.tsx
  src/app/test-bio/page.tsx
  src/contexts/UserContext.tsx
  src/models/User.ts
  test-actual-bio.js
  test-api-direct-new.js
  test-bio-after-fix.js
  test-bio-direct.sh
  test-profile-bio.js
  test-profile-browser.js
  test-profile-comprehensive.md
  test-profile-e2e.js
  test-profile-fix.js
  test-profile-integration.js
  test-profile-manual-verification.js
  test-profile-manual.js
  test-profile-summary.md
  test-profile-unit.js
  test-profile-update.js
  test-real-verification.js
Owners: @onephotolife, @frontend-team, @database-team, @backend-team

feat: ダッシュボードとテスト機能の追加
  dashboard-check.png
  long-username-test-Desktop.png
  long-username-test-iPad.png
  long-username-test-iPhone-SE.png
  scripts/check-dashboard.js
  scripts/test-long-username.js
  scripts/test-welcome-truncate.js
  scripts/visual-check.js
  src/app/(main)/clean-test/page.tsx
  src/app/(main)/dashboard/page.tsx
  src/app/(main)/test-bio/page.tsx
  src/app/(main)/test-dashboard/page.tsx
  src/app/(main)/test-email/page.tsx
  src/app/(main)/test-password-dialog/page.tsx
  src/app/(main)/test-profile-dialog/page.tsx
  src/app/(main)/test-profile-mock/page.tsx
  src/components/ClientHeader.tsx
  src/components/WelcomeSection.tsx
  welcome-truncate-test-Desktop.png
  welcome-truncate-test-iPad.png
  welcome-truncate-test-iPhone-SE.png
Owners: @onephotolife, @frontend-team

feat: 投稿ダイアログのz-index問題修正とテストスクリプトの追加
  DIALOG_FIX_REPORT.md
  scripts/check-dialog-simple.js
  scripts/test-dialog.js
  src/app/(main)/board/page.tsx
  src/app/providers.tsx
  test-results/.last-run.json
  tests/TEST_REPORT.md
  tests/e2e/dialog-ui.spec.ts
  tests/integration/board-dialog.test.tsx
  tests/manual/dialog-test.js
  tests/unit/dialog.test.tsx
Owners: @onephotolife, @frontend-team, @qa-team

feat: 投稿保存機能のバリデーションとエラーハンドリングの強化
  src/app/(main)/board/page.tsx
Owners: @frontend-team

feat: 投稿ダイアログとz-indexの改善、デバッグログの追加
  src/app/(main)/board/page.tsx
  src/app/api/posts/route.ts
  src/app/globals.css
  src/components/EnhancedPostCard.tsx
Owners: @frontend-team

feat: 投稿一覧ページと投稿詳細ページの追加
  src/app/(main)/posts/[id]/page.tsx
  src/app/(main)/posts/page.tsx
  src/components/ClientHeader.tsx
Owners: @frontend-team

feat: 投稿編集機能の追加と状態管理の改善
  src/app/(main)/board/page.tsx
Owners: @frontend-team

feat: 投稿削除機能のダイアログ追加とz-indexの調整
  src/app/(main)/board/page.tsx
  src/app/(main)/posts/page.tsx
  src/app/globals.css
Owners: @frontend-team

feat: 投稿削除確認ダイアログの実装と状態管理の強化
  src/app/(main)/posts/[id]/page.tsx
Owners: @frontend-team

feat: 新規投稿作成機能の追加とダイアログの実装
  src/app/(main)/posts/page.tsx
Owners: @frontend-team

feat: Claudeの通知設定を追加
  .claude_code_config.json
Owners: @onephotolife

feat: 通知スクリプトのパスを修正し、ポップアップ表示を強化
  .claude_code_config.json
  .claude_code_config.json.backup
  claude-notifications/notify.sh
Owners: @onephotolife

feat: ダッシュボードに投稿統計とユーザーアクティビティの取得機能を追加
  src/app/(main)/dashboard/page.tsx
  src/app/api/posts/stats/route.ts
  src/app/api/user/activity/route.ts
  src/lib/auth.config.ts
  src/lib/auth.ts
  src/models/User.ts
Owners: @frontend-team, @backend-team, @database-team

feat: 投稿作成後のリダイレクト先を変更し、キャンセル時の動作を統一
  src/app/(main)/posts/new/page.tsx
Owners: @frontend-team

ダッシュボードの投稿一覧リンクを修正し、正しいページ（/board）へ遷移するように変更しました。
  src/app/(main)/dashboard/page.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team
