Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team

Delete codex-dispatch.yml
  codex-dispatch.yml
Owners: @onephotolife

Add files via upload
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Delete .github/workflows/codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Delete .github/workflows/codex-dispatch.yml
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Create manual-test.yml
  .github/workflows/.github/workflows/manual-test.yml
Owners: @devops-team

Rename .github/workflows/.github/workflows/manual-test.yml to .github/workflows/manual-test.yml
  .github/workflows/manual-test.yml
Owners: @devops-team

Delete .github/workflows/manual-test.yml
  .github/workflows/manual-test.yml
Owners: @devops-team

Create manual-test.yml
  .github/workflows/manual-test.yml
Owners: @devops-team

Update manual-test.yml
  .github/workflows/manual-test.yml
Owners: @devops-team

Update manual-test.yml
  .github/workflows/manual-test.yml
Owners: @devops-team

Update manual-test.yml
  .github/workflows/manual-test.yml
Owners: @devops-team

Delete .github/workflows/manual-test.yml
  .github/workflows/manual-test.yml
Owners: @devops-team

Create manual-test.yml
  .github/workflows/manual-test.yml
Owners: @devops-team

Create codex-dispatch.yml
  .github/codex-dispatch.yml
Owners: @onephotolife

Create codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Delete .github/workflows/codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Delete .github/codex-dispatch.yml
  .github/codex-dispatch.yml
Owners: @onephotolife

Add files via upload
  .github/workflows/codex-bench-e2e.min.yml
  .github/workflows/codex-dispatch.min.yml
Owners: @devops-team

Delete .github/workflows/codex-bench-e2e.min.yml
  .github/workflows/codex-bench-e2e.min.yml
Owners: @devops-team

Delete .github/workflows/codex-dispatch.min.yml
  .github/workflows/codex-dispatch.min.yml
Owners: @devops-team

Add files via upload
  .github/workflows/codex-bench-e2e.min.v2.yml
  .github/workflows/codex-dispatch.min.v2.yml
Owners: @devops-team

Delete .github/workflows/codex-bench-e2e.min.v2.yml
  .github/workflows/codex-bench-e2e.min.v2.yml
Owners: @devops-team

Delete .github/workflows/codex-dispatch.min.v2.yml
  .github/workflows/codex-dispatch.min.v2.yml
Owners: @devops-team

Add files via upload
  .github/workflows/codex-bench-e2e.yml
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Update codex-dispatch.yml
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Update codex-dispatch.yml
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Update codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Update codex-dispatch.yml
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Update codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

chore: finalize strict120 step01 data model
  .gitignore
  docs/reports/2025-09-16-step01-strict120-final-detail.md
  package.json
  scripts/backfill-user-search-fields.js
  scripts/backfill-user-search-fields.ts
  src/lib/models/User.ts
  src/lib/search/ja-normalize.ts
  tsconfig.step01.json
  types/wanakana.d.ts
Owners: @onephotolife, @tech-lead, @backend-team

feat: add strict120 user search APIs and client
  docs/reports/2025-09-16-step02-api-verification.md
  docs/reports/2025-09-16-step02-strict120-compliance.md
  package-lock.json
  package.json
  scripts/bench-step02.mjs
  scripts/verify-step02.ts
  src/app/api/user/search-history/route.ts
  src/app/api/users/recommendations/route.ts
  src/app/api/users/search/route.ts
  src/app/api/users/suggest/route.ts
  src/app/search/UserSearchClient.tsx
  src/app/search/page.tsx
  src/lib/api/audit.ts
  src/lib/api/client/users.ts
  src/lib/api/errors.ts
  src/lib/api/otel.ts
  src/lib/api/rate-limit.ts
  src/lib/db/mongodb.ts
  src/lib/models/Follow.ts
  src/lib/models/User.ts
  src/lib/search/engine-atlas.ts
  src/lib/search/engine-local.ts
  src/types/api/users.ts
  tsconfig.verify.json
Owners: @onephotolife, @tech-lead, @frontend-team, @backend-team

feat(ui-search): Step03 STRICT120 — users search bar, history chips, results, metrics
  src/app/search/UserSearchClient.tsx
  src/app/search/UserSearchPageClient.tsx
  src/app/search/page.tsx
  src/components/search/RecommendedUsers.tsx
  src/components/search/SearchHistoryChips.tsx
  src/components/search/SuggestList.tsx
  src/components/search/UserResultCard.tsx
  src/components/search/UserSearchBar.tsx
  src/lib/ui/cache/lru.ts
  src/lib/ui/debounce.ts
  src/lib/ui/ime.ts
  src/lib/ux/metrics.ts
Owners: @frontend-team, @backend-team

chore(qa): Step04 STRICT120 testing gates
  .github/workflows/ci.yml
  docs/reports/2025-09-16-step03-ui-integration.md
  eslint.config.mjs
  jest.config.mjs
  lighthouserc.js
  package-lock.json
  package.json
  playwright.config.ts
  scripts/bench-step04.mjs
  src/app/api/user/search-history/route.ts
  src/app/api/users/recommendations/route.ts
  src/app/api/users/search/route.ts
  src/app/api/users/suggest/route.ts
  src/lib/api/test-bypass.ts
  tests/a11y/UserSearchBar.a11y.spec.tsx
  tests/e2e/strict120/search.spec.ts
  tests/setup/jest.haste.js
  tests/setup/jest.setup.ts
  tests/unit/UserSearchBar.spec.tsx
  tests/unit/ja-normalize.spec.ts
  tsconfig.step03.json
Owners: @devops-team, @onephotolife, @tech-lead, @frontend-team, @backend-team, @qa-team

chore(qa): Step04 STRICT120 v3 fixes
  .github/workflows/ci.yml
  docs/reports/2025-09-16-step04-testing-quality-gates.md
  jest.config.mjs
  lighthouserc.js
  package.json
  scripts/run-bench-with-server.mjs
  scripts/strict120-clean-node-modules-backups.sh
  src/app/api/user/search-history/route.ts
  src/app/api/users/recommendations/route.ts
  src/app/api/users/search/route.ts
  src/app/api/users/suggest/route.ts
  src/lib/api/test-bypass.ts
  tests/a11y/UserSearchBar.a11y.spec.tsx
  tests/setup/jest.haste.js
  tests/unit/UserSearchBar.spec.tsx
  tests/unit/ja-normalize.spec.ts
  tsconfig.jest.json
  tsconfig.json
Owners: @devops-team, @onephotolife, @tech-lead, @frontend-team, @backend-team, @qa-team
