Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team

fix: likes undefined エラーを防御的コーディングで修正
  LIKE-FEATURE-REMOVAL-EVALUATION.md
  POST-DETAIL-ERROR-ROOT-CAUSE-REPORT.md
  POST-EDIT-403-RESOLUTION-REPORT.md
  src/app/posts/[id]/page.tsx
Owners: @onephotolife, @frontend-team

fix: コメント機能を完全削除 - 未実装機能のクリーンアップ
  COMMENT-FEATURE-INVESTIGATION-REPORT.md
  LIKES-ERROR-FIX-FINAL-REPORT.md
  src/app/posts/[id]/page.tsx
Owners: @onephotolife, @frontend-team

fix: いいね機能の表示を削除
  COMMENT-REMOVAL-COMPLETION-REPORT.md
  LIKE-FEATURE-DISPLAY-INVESTIGATION-REPORT.md
  page-source.html
  src/app/posts/[id]/page.tsx
Owners: @onephotolife, @frontend-team

fix: 投稿削除403エラーを解決 - CSRFトークン実装を追加
  DELETE-403-ERROR-ROOT-CAUSE-REPORT.md
  dev.log
  src/app/api/csrf/token/route.ts
  src/app/my-posts/page.tsx
  src/app/posts/[id]/page.tsx
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

fix: ダッシュボードページとメニューの表示文字を「ダッシュボード」に変更
  DASHBOARD-TEXT-ANALYSIS-REPORT.md
  DELETE-403-ERROR-RESOLUTION-REPORT.md
  e2e/verify-dashboard-text-change.spec.ts
  e2e/verify-dashboard-text.spec.ts
  src/app/dashboard/page.tsx
  src/components/AppLayout.tsx
Owners: @onephotolife, @frontend-team

fix: 新規投稿400エラー修正 - authorInfoフィールド追加
  DASHBOARD-TEXT-CHANGE-RESULT.md
  PERFORMANCE-IMPROVEMENT-RISK-ASSESSMENT.md
  PERFORMANCE-NO-LCP-ROOT-CAUSE-REPORT.md
  POST-400-ERROR-ROOT-CAUSE-REPORT.md
  POST-403-ERROR-INVESTIGATION-REPORT.md
  e2e/production-dashboard-text-test.spec.ts
  e2e/test-400-error-detailed.spec.ts
  e2e/test-400-fix-verification.spec.ts
  e2e/test-csrf-403-issue.spec.ts
  e2e/test-csrf-detailed.spec.ts
  e2e/test-csrf-simple.spec.ts
  e2e/test-lcp-issue.spec.ts
  production-no-js.png
  production-with-js.png
  src/app/api/posts/route.ts
Owners: @onephotolife, @frontend-team

docs: 400エラー修正の結果レポートと本番環境テストを追加
  POST-400-ERROR-FIX-RESULT.md
  e2e/test-production-400-fix.spec.ts
Owners: @onephotolife

feat: SNS機能の基盤実装を追加
  SNS-FEATURE-DESIGN-SPEC.md
  package-lock.json
  package.json
  src/app/providers.tsx
  src/app/test-sns/page.tsx
  src/components/SNSFeatureTest.tsx
  src/contexts/SNSContext.tsx
  src/hooks/sns/useSNSFeatures.ts
  src/store/sns-store.ts
  src/types/sns/index.ts
Owners: @onephotolife, @tech-lead, @frontend-team

chore: node_modules_oldを.gitignoreに追加
  .gitignore
Owners: @onephotolife

feat(sns): Add React Query and Socket.io integration for SNS features
  src/app/providers.tsx
  src/app/test-sns/page.tsx
  src/components/SNSIntegrationTest.tsx
  src/contexts/QueryProvider.tsx
  src/contexts/SNSContext.v2.tsx
  src/hooks/sns/useReactQuerySNS.ts
  src/lib/api/sns-api.ts
  src/lib/react-query/client.ts
  src/lib/socket/socket-client.ts
Owners: @frontend-team, @onephotolife, @backend-team

feat(sns): フォロー機能の完全実装とテストスイート追加
  docs/FOLLOW-FEATURE-DESIGN.md
  docs/FOLLOW-TEST-GUIDE.md
  package.json
  scripts/test-follow-feature.js
  src/__tests__/models/follow.test.ts
  src/app/api/users/[userId]/follow/route.ts
  src/app/api/users/[userId]/followers/route.ts
  src/app/api/users/[userId]/following/route.ts
  src/lib/db/migrations/add-follow-indexes.ts
  src/lib/models/Follow.ts
  src/lib/models/User.ts
Owners: @onephotolife, @tech-lead, @qa-team, @frontend-team, @backend-team

fix(hydration): Hydration Mismatchエラーを完全解決し、E2Eテスト更新
  e2e/app-ready-verification.spec.ts
  e2e/auth/01-registration.spec.ts
  e2e/helpers/wait-helper.ts
  hydration-error-report.md
  hydration-fix-implementation-report.md
  hydration-solution-report.md
  src/app/api/users/[userId]/follow/route.ts
  src/app/api/users/[userId]/followers/route.ts
  src/app/api/users/[userId]/following/route.ts
  src/app/layout.tsx
  src/components/AppReadyNotifier.tsx
  src/components/PerformanceTracker.tsx
Owners: @onephotolife, @frontend-team

fix: メール配送失敗の根本原因を解決 - ドメイン不一致修正
  EMAIL-DOMAIN-FIX-FINAL-REPORT.md
  dev.log
  email-domain-mismatch-report.md
  email-registration-issue-report.md
Owners: @onephotolife

feat(api): 追加のフォローAPIエンドポイントを実装 (/api/follow/[userId])
  FOLLOW-API-IMPLEMENTATION-REPORT.md
  src/app/api/follow/[userId]/route.ts
Owners: @onephotolife, @frontend-team

chore: テスト用ユーザーID取得スクリプトを.gitignoreに追加
  .gitignore
Owners: @onephotolife

feat: フォロー機能実装とNext.js 15/MongoDB互換性修正
  CSRF-TOKEN-IMPLEMENTATION-REPORT.md
  CSRF-TOKEN-SOLUTION-REPORT.md
  FOLLOW-BUTTON-USAGE.md
  FOLLOW-ERROR-ROOT-CAUSE-REPORT.md
  FOLLOW-ERROR-SOLUTION-STRATEGY-REPORT.md
  NEXTJS15-FIX-IMPLEMENTATION-REPORT.md
  OBJECTID-FIX-IMPLEMENTATION-REPORT.md
  e2e/follow-button.spec.ts
  src/app/api/csrf/route.ts
  src/app/api/follow/[userId]/route.ts
  src/app/api/users/[userId]/follow/route.ts
  src/app/api/users/[userId]/followers/route.ts
  src/app/api/users/[userId]/following/route.ts
  src/app/test-follow/page.tsx
  src/components/BoardClient.tsx
  src/components/FollowButton.tsx
  src/components/PostCardWithFollow.tsx
  src/components/ReportButton.tsx
  src/components/UserCard.tsx
Owners: @onephotolife, @frontend-team

fix: test-followページのエラー修正とMUI Grid v2移行
  PRIORITY-2-404-ERROR-FIX-REPORT.md
  PRIORITY-3-MUI-GRID-V2-FIX-REPORT.md
  RATE-LIMIT-FIX-IMPLEMENTATION-REPORT.md
  TEST-FOLLOW-ERROR-ROOT-CAUSE-REPORT.md
  e2e/test-grid-migration.spec.ts
  scripts/seed-test-users.js
  src/app/test-follow/page.tsx
  src/components/CSRFProvider.tsx
  src/lib/security/rate-limiter-v2.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: SNS機能の基盤実装を強化 - フォローAPI、CSRF保護、リアルタイム機能の改善
  src/app/api/follow/[userId]/route.ts
  src/components/CSRFProvider.tsx
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

chore: 設定ファイルとスクリプトの更新 - .gitignore除外設定の改善とテストユーザー作成スクリプトの最適化
  .gitignore
  scripts/seed-test-users.js
Owners: @onephotolife

docs: 包括的な問題解決レポートの追加 - CSRF、FOLLOW、MongoDB関連の詳細分析と解決策の文書化
  API-404-ERROR-ROOT-CAUSE-ANALYSIS-REPORT.md
  CSRF-ERROR-SOLUTION-STRATEGY-REPORT.md
  CSRF-SOLUTION-2-IMPLEMENTATION-REPORT.md
  CSRF-SOLUTION-IMPLEMENTATION-REPORT.md
  CSRF-TOKEN-ERROR-DETAILED-ANALYSIS-REPORT.md
  FOLLOW-404-COMPREHENSIVE-SOLUTION-REPORT.md
  FOLLOW-404-E2E-TESTS.md
  FOLLOW-404-FIX-IMPLEMENTATION-REPORT.md
  FOLLOW-404-INTEGRATION-TESTS.md
  FOLLOW-404-SOLUTION-ANALYSIS.md
  FOLLOW-404-UNIT-TESTS.md
  FOLLOW-ERROR-COMPREHENSIVE-SOLUTION-REPORT.md
  FOLLOW-ERROR-IMPLEMENTATION-SUCCESS-REPORT.md
  FOLLOW-ERROR-ROOT-CAUSE-ANALYSIS.md
  FOLLOW-INTEGRATION-IMPLEMENTATION-RESULT-REPORT.md
  FOLLOW-SYSTEM-IMPLEMENTATION-ANALYSIS-REPORT.md
  FOLLOW-SYSTEM-INTEGRATION-ANALYSIS-REPORT.md
  MONGODB-TRANSACTION-ERROR-SOLUTION-REPORT.md
  MONGODB-TRANSACTION-FIX-FINAL-REPORT.md
  TEST-FOLLOW-404-ERROR-ROOT-CAUSE-REPORT.md
  TEST-FOLLOW-ERROR-ROOT-CAUSE-REPORT.md
Owners: @onephotolife

test: 包括的なテストスイートの追加 - E2Eテスト、ユニットテスト、MongoDBトランザクションヘルパーの実装
  e2e/csrf-solution-comparison.spec.ts
  e2e/follow-integration-smoke.spec.ts
  e2e/test-csrf-improved.spec.ts
  e2e/test-csrf-timing.spec.ts
  e2e/test-follow-404-fix.spec.ts
  e2e/test-follow-error-reproduction.spec.ts
  e2e/test-follow-integration-check.spec.ts
  e2e/test-follow-integration-validation.spec.ts
  e2e/test-follow-simple-check.spec.ts
  src/components/__tests__/CSRFProvider.test.tsx
  src/lib/db/transaction-helper.ts
Owners: @onephotolife, @qa-team, @backend-team

chore: 開発ツールとスクリプトの整理 - 不要なデバッグファイルの削除とユーティリティスクリプトの追加
  debug-profile.js
  scripts/manual-create-users.js
  scripts/quick-test-mongodb.js
Owners: @onephotolife

feat: フォロー機能のステータスAPIエンドポイントを追加
  src/app/api/follow/status/batch/route.ts
Owners: @frontend-team

chore: 一時的なテストファイルとログファイルを.gitignoreに追加
  .gitignore
Owners: @onephotolife

chore: 一時的なファイルをgit追跡から除外
  playwright-report/index.html
  server.log
Owners: @onephotolife

fix: node_modules権限エラーを解決し、アプリケーション起動を復旧
  ETIMEDOUT_ROOT_CAUSE_ANALYSIS.md
  ETIMEDOUT根本原因分析レポート.md
  package-lock.json
  統合根本原因分析レポート.md
  解決策包括分析・テスト設計レポート.md
  解決策実行結果詳細レポート.md
Owners: @onephotolife

feat: CSRFトークン初期化保証メカニズム（SOL-001）とフォロー機能改善の実装完了
  SOL-001-implementation-result-report.md
  SOL-005-implementation-result-report.md
  __tests__/components/FollowButton.test.tsx
  __tests__/components/FollowButton.type.test.tsx
  board-access-investigation-report.md
  board-follow-comprehensive-solution-report.md
  board-follow-csrf-implementation-result.md
  board-follow-error-root-cause-report.md
  board-follow-error-solution-report.md
  e2e/board-csrf-public.spec.ts
  e2e/board-follow-csrf-fix.spec.ts
  e2e/follow-error-test.spec.ts
  e2e/follow-improved-test.spec.ts
  e2e/follow-integration-test.spec.ts
  follow-system-deep-solution-analysis-report.md
  follow-system-error-analysis-report.md
  follow-system-implementation-result-report.md
  follow-system-solution-comprehensive-report.md
  localhost-3000-access-investigation-report.md
  scripts/impact-analysis-sol001.js
  scripts/impact-analysis.js
  scripts/verify-types.js
  sol-001-impact-analysis.json
  src/app/test-simple/page.tsx
  src/components/CSRFProvider.tsx
  src/components/FollowButton.tsx
  src/components/RealtimeBoard.tsx
  src/lib/security/csrf-token-manager.ts
  src/types/mui-extensions.d.ts
  投稿削除処理統一実装結果レポート.md
Owners: @onephotolife, @frontend-team, @backend-team

fix: TypeScript型定義インポートエラーの修正（MODULE-PARSE-ERROR解決）
  src/components/FollowButton.tsx
  src/components/RealtimeBoard.tsx
  src/types/mui-extensions.ts
Owners: @frontend-team, @onephotolife

feat: ESLintルールで.d/.d.ts拡張子インポートを防止（優先順位2）
  MODULE-PARSE-ERROR-ESLINT-IMPLEMENTATION-RESULT.md
  eslint.config.mjs
Owners: @onephotolife

feat: pre-commitフックで.d/.d.ts違反を自動検出（推奨事項10.1）
  .husky/pre-commit
  PRECOMMIT-HOOK-IMPLEMENTATION-RESULT.md
  package-lock.json
  package.json
Owners: @onephotolife, @tech-lead

docs: TypeScriptインポートエラー解決の包括的ドキュメント追加
  E2E-PERFORMANCE-OPTIMIZATION-PLAN.md
  MODULE-PARSE-ERROR-REPORT.md
  MODULE-PARSE-ERROR-RESOLUTION-RESULT.md
  MODULE-PARSE-ERROR-SOLUTION-REPORT.md
  PAGINATION-IMPLEMENTATION-RESULT-REPORT.md
  REALTIME-BOARD-CSRF-IMPLEMENTATION-REPORT.md
  e2e/board-follow-csrf-test.spec.ts
Owners: @onephotolife

fix: MUI v7 ListItem button属性エラーの修正完了
  MUI-LISTITEM-BUTTON-ERROR-REPORT.md
  MUI-LISTITEM-FIX-IMPLEMENTATION-REPORT.md
  MUI-LISTITEM-SOLUTION-EVALUATION-REPORT.md
  e2e/test-mui-button-error.spec.ts
  e2e/test-mui-button-fix.spec.ts
  src/components/AppLayout.tsx
  src/components/Sidebar.tsx
Owners: @onephotolife, @frontend-team

feat: フォローAPI E2Eテスト実装とPlaywright環境構築完了
  FOLLOW-API-404-ERROR-REPORT.md
  FOLLOW-API-FIX-IMPLEMENTATION-REPORT.md
  FOLLOW-API-SOLUTION-EVALUATION-V2.md
  dev.log
  package-lock.json
  package.json
  playwright.config.ts
  scripts/test-follow-api-fix-evidence-1756340675865.json
  scripts/test-follow-api-fix-evidence-v2-1756341066531.json
  scripts/test-follow-impact-evidence-1756341358252.json
  scripts/test-follow-impact-evidence-1756342301823.json
  scripts/test-follow-integration-evidence-1756341218233.json
  scripts/test-follow-integration-evidence-1756342262104.json
  src/components/FollowButton.tsx
  test-e2e-follow.log
  test-e2e-initial.log
  tests/e2e/_disabled/auth-complete.spec.ts
  tests/e2e/_disabled/auth-signin.spec.ts
  tests/e2e/_disabled/board-comprehensive-features.spec.ts
  tests/e2e/_disabled/board-comprehensive.spec.ts
  tests/e2e/_disabled/board.spec.ts
  tests/e2e/_disabled/crud-comprehensive-test.spec.ts
  tests/e2e/_disabled/csp-compliant-test.spec.ts
  tests/e2e/_disabled/dialog-ui.spec.ts
  tests/e2e/_disabled/drawer.spec.ts
  tests/e2e/_disabled/mobile-menu-fix.spec.ts
  tests/e2e/_disabled/mobile-menu-zindex.spec.ts
  tests/e2e/_disabled/production-tag-test.spec.ts
  tests/e2e/_disabled/profile-comprehensive-test.spec.ts
  tests/e2e/_disabled/profile-improvements.spec.ts
  tests/e2e/_disabled/profile-validation.spec.ts
  tests/e2e/_disabled/responsive.spec.ts
  tests/e2e/_disabled/simple-menu-test.spec.ts
  tests/e2e/follow.spec.ts
Owners: @onephotolife, @tech-lead, @frontend-team, @qa-team

fix: フォローボタン404エラーの完全解決（優先度1+2実装完了）
  FOLLOW-BUTTON-ERROR-ROOT-CAUSE-REPORT.md
  FOLLOW-BUTTON-ERROR-SOLUTION-EVALUATION-REPORT.md
  FOLLOW-ERROR-COMPREHENSIVE-SOLUTION-ANALYSIS.md
  FOLLOW-ERROR-IMPLEMENTATION-SUMMARY.md
  FOLLOW-ERROR-PRIORITY1-IMPLEMENTATION-CHECKLIST.md
  FOLLOW-ERROR-PRIORITY1-IMPLEMENTATION-RESULT.md
  FOLLOW-ERROR-PRIORITY2-CLEANUP-GUIDE.md
  FOLLOW-ERROR-PRIORITY2-CLEANUP-RESULT.md
  scripts/cleanup-orphaned-posts.js
  scripts/impact-assessment.js
  scripts/verify-app-functions.js
  src/components/FollowButton.tsx
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

feat: フェーズ2 型システム統一実装完了（UnifiedPost導入）
  PHASE2-TYPE-UNIFICATION-IMPLEMENTATION-REPORT.md
  REACT-KEY-ERROR-COMPREHENSIVE-SOLUTION-REPORT.md
  REACT-KEY-ERROR-IMPLEMENTATION-RESULTS-REPORT.md
  REACT-KEY-ERROR-ROOT-CAUSE-ANALYSIS-REPORT.md
  src/app/api/posts/route.ts
  src/components/BoardClient.tsx
  src/components/EditDialog.tsx
  src/components/PostItem.tsx
  src/components/RealtimeBoard.tsx
  src/components/VirtualizedPostList.tsx
  src/lib/api/post-normalizer.ts
  src/types/post.ts
  tests/e2e/impact-range-verification.spec.ts
  tests/e2e/react-key-error-verification.spec.ts
Owners: @onephotolife, @frontend-team, @backend-team, @qa-team

feat: フェーズ3型厳密性強化・Zod統合実装完了
  PHASE3-TYPE-STRICTNESS-IMPLEMENTATION-REPORT.md
  src/app/api/posts/route.ts
  src/lib/api/post-normalizer.ts
  src/schemas/post.schema.ts
  src/types/post.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: MongoDB接続問題に関する包括的解決策評価レポートと優先度1実装完了
  MONGODB-CONNECTION-COMPREHENSIVE-SOLUTION-REPORT.md
  MONGODB-CONNECTION-ROOT-CAUSE-ANALYSIS.md
  MONGODB-FIX-PRIORITY1-IMPLEMENTATION-REPORT.md
  e2e/health-check.spec.ts
  src/lib/db/__tests__/connection-manager.test.ts
  src/lib/db/connection-manager.ts
  tests/e2e/health-check.spec.ts
Owners: @onephotolife, @qa-team, @backend-team

feat: 優先度1&2実装 - MongoDB ObjectID検証の完全実装
  board-follow-error-root-cause-analysis.md
  follow-500-error-comprehensive-solution.md
  priority1-implementation-report.md
  priority2-client-validation-report.md
  priority2-complete-validation-report.md
  src/__tests__/api/follow.integration.test.ts
  src/__tests__/validators/objectId.test.ts
  src/app/api/users/[userId]/follow/route.ts
  src/components/FollowButton.tsx
  src/components/RealtimeBoard.tsx
  src/lib/validators/objectId.ts
  src/utils/validators/objectId.ts
  test-error-screenshot.png
Owners: @onephotolife, @qa-team, @frontend-team, @backend-team

feat: STRICT120準拠フォローAPI 500→404エラー変換完全実装
  follow-error-comprehensive-investigation-report.md
  follow-error-final-implementation-report.md
  src/app/api/users/[userId]/follow/route.ts
  test-follow-unit-auth.js
Owners: @onephotolife, @frontend-team

docs: フォロー機能500エラー調査レポートを追加
  follow-error-investigation-report.md
Owners: @onephotolife
