Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team

fix: 無限ループ問題の根本解決 - 41人天才会議による最終修正
  src/app/auth/signin/page.tsx
  tests/e2e/auth-complete.spec.ts
Owners: @frontend-team, @qa-team

feat: NextAuth v4完全移行とループ問題根本解決
  package-lock.json
  package.json
  src/app/api/auth/[...nextauth]/route.ts
  src/app/auth/signin/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/lib/api-auth.ts
  src/lib/auth-errors.ts
  src/lib/auth.ts
  src/middleware.ts
Owners: @onephotolife, @tech-lead, @frontend-team, @backend-team

feat: テスト用ユーザー作成スクリプトの改善
  scripts/create-test-user.js
Owners: @onephotolife

fix: 認証無限ループ問題の完全解決
  playwright-report/index.html
  src/app/auth/signin/page.tsx
Owners: @onephotolife, @frontend-team

fix: 本番環境無限ループ問題の決定的解決
  production-debug.png
  production-test-accurate.png
  production-test-result.png
  src/app/auth/signin/page.tsx
Owners: @onephotolife, @frontend-team

fix: 確実なリダイレクト実行による無限ループ完全解決
  production-issue-final.png
  src/app/auth/signin/page.tsx
Owners: @onephotolife, @frontend-team

fix: 即座実行による完全リダイレクト解決
  production-decisive-failure.png
  src/app/auth/signin/page.tsx
Owners: @onephotolife, @frontend-team

fix: NextAuthサーバーサイドリダイレクト実装と構文エラー修正
  production-ultimate-failure.png
  src/app/auth/signin/page.tsx
  src/lib/auth.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: NextAuth v4完全互換性実装とビルドエラー解決
  src/app/search/page.tsx
  src/lib/auth.ts
Owners: @frontend-team, @backend-team

feat: 投稿一覧ページの統一デザイン実装とナビゲーションメニュー追加
  src/components/AppLayout.tsx
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

feat: 投稿一覧ページのフィルタUIデザイン大幅改善
  playwright-tests/board-design-navigation.spec.ts
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

feat: タグクリックによるフィルタリング機能の実装
  playwright-output.log
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

fix: タグ表示の修正とデバッグログ追加
  scripts/add-tags-to-posts.js
  scripts/add-tags-to-posts.mjs
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

feat: タグ機能の完全実装 - 新規投稿とEditDialogにタグ編集UI追加
  add-tags-to-user-posts.mjs
  check-all-databases.mjs
  check-production-api.js
  check-production-auth-api.js
  diagnose-test-user.mjs
  fix-correct-database-tags.mjs
  fix-production-tags.mjs
  manual-verification.md
  playwright-output.log
  scripts/add-tags-production.mjs
  src/components/EditDialog.tsx
  tag-implementation-complete.md
  tests/e2e/production-tag-test.spec.ts
Owners: @onephotolife, @frontend-team, @qa-team

test: 包括的E2Eテスト基盤構築と認証フロー改善
  .gitignore
  docs/MANUAL_TEST_GUIDE.md
  docs/TEST_EXECUTION_SUMMARY.md
  e2e/auth-debug.spec.ts
  e2e/auth-flow-corrected.spec.ts
  e2e/auth-with-email-verification.spec.ts
  e2e/board-comprehensive.spec.ts
  e2e/board-crud-correct.spec.ts
  e2e/board-crud-final.spec.ts
  e2e/complete-board-test.spec.ts
  e2e/debug-signup-flow.spec.ts
  e2e/final-100-percent-test.spec.ts
  e2e/final-comprehensive-test.spec.ts
  e2e/production-debug.spec.ts
  e2e/production-simple.spec.ts
  e2e/production-test.spec.ts
  e2e/production-url-check.spec.ts
  e2e/simple-auth-test.spec.ts
  e2e/simple-signup.spec.ts
  playwright.config.ts
  src/app/auth/signup/page.tsx
Owners: @onephotolife, @frontend-team

fix: 新規登録後の自動ログイン防止と適切なメール確認フロー実装
  e2e/auth-email-verification-flow.spec.ts
  e2e/production-auth-flow.spec.ts
  src/app/auth/signin/page.tsx
  src/app/auth/signup/page.tsx
Owners: @onephotolife, @frontend-team

test: 本番環境E2Eテストスイート追加と認証フロー強化
  e2e/auth-no-auto-login.spec.ts
  e2e/local-auth-verification.spec.ts
  e2e/production-auth-flow.spec.ts
  e2e/production-correct-url-test.spec.ts
  e2e/production-critical-auth.spec.ts
  e2e/production-debug-test.spec.ts
  e2e/production-final-test.spec.ts
  e2e/production-simplified-test.spec.ts
  e2e/simple-auth-no-auto-login.spec.ts
  src/lib/auth.ts
Owners: @onephotolife, @backend-team

fix: メール未確認ユーザー向けのユーザーフレンドリーなエラーメッセージ実装
  e2e/email-verification-complete.spec.ts
  e2e/email-verification-message.spec.ts
  e2e/email-verification-required.spec.ts
  playwright-report/index.html
  src/app/api/auth/check-verification/route.ts
  src/app/auth/signin/page.tsx
  src/lib/auth-errors.ts
  src/lib/auth.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix: Playwrightテスト用のエラーメッセージセレクター追加
  src/app/auth/signin/page.tsx
Owners: @frontend-team

fix: E2Eテスト期待値をクライアントサイドエラーハンドリングに合わせて調整
  e2e/email-verification-complete.spec.ts
  e2e/email-verification-security.spec.ts
Owners: @onephotolife

refactor: 下書き保存機能を削除
  src/app/posts/[id]/edit/page.tsx
  src/app/posts/new/page.tsx
Owners: @frontend-team

fix: /my-posts機能の修正 - 自分の投稿が正しく表示されるように改善
  e2e/board-crud-comprehensive.spec.ts
  e2e/board-crud-focused.spec.ts
  e2e/my-posts-test.spec.ts
  e2e/production-draft-check.spec.ts
  playwright-report/index.html
  src/app/api/posts/my-posts/route.ts
  src/app/my-posts/page.tsx
Owners: @onephotolife, @frontend-team

fix: ダッシュボードのメンバー歴表示とmy-postsページの下書き削除
  e2e/local-test.spec.ts
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/lib/auth.ts
  src/types/next-auth.d.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix: メンバー歴のデフォルト値を適切に設定
  src/app/dashboard/page.tsx
Owners: @frontend-team

fix: メンバー歴を日数表示に変更
  src/app/dashboard/page.tsx
Owners: @frontend-team

fix: メンバー歴表示の修正 - DBからcreatedAtを正しく取得
  e2e/production-complete-test.spec.ts
  e2e/production-final-validation.spec.ts
  e2e/production-my-posts-simple.spec.ts
  e2e/production-my-posts.spec.ts
  src/lib/auth.ts
Owners: @onephotolife, @backend-team

fix: 本番環境の既存ユーザー向けにメンバー歴のデフォルト日付を設定
  check-user-date.js
  src/lib/auth.ts
Owners: @onephotolife, @backend-team

fix: テストユーザーのメンバー歴を約600日前に設定
  src/lib/auth.ts
Owners: @backend-team

fix: ダッシュボードでテストユーザーのメンバー歴を直接設定
  e2e/production-member-history-test.spec.ts
  src/app/dashboard/page.tsx
Owners: @onephotolife, @frontend-team

test: メンバー歴テストの期待値を814日に修正
  e2e/production-member-history-test.spec.ts
Owners: @onephotolife

feat: ユーザー統計APIを追加しダッシュボードのメンバー歴を正確に表示
  src/app/api/users/stats/route.ts
  src/app/dashboard/page.tsx
Owners: @frontend-team

feat: 各ページに共通サイドバーメニューを追加
  e2e/production-member-history-verification.spec.ts
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
  src/components/Sidebar.tsx
Owners: @onephotolife, @frontend-team

feat: モバイル対応ハンバーガーメニュー実装
  e2e/production-sidebar-menu.spec.ts
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
  src/components/Sidebar.tsx
Owners: @onephotolife, @frontend-team

fix: ダッシュボードページにもモバイルハンバーガーメニューを追加
  e2e/production-mobile-hamburger.spec.ts
  src/app/dashboard/page.tsx
Owners: @onephotolife, @frontend-team

test: E2Eテストのセレクタ修正
  e2e/production-auth-flow.spec.ts
Owners: @onephotolife

fix: モバイル画面でページコンテンツが表示されない問題を修正
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

fix: モバイル画面でページコンテンツが適切に表示されるよう修正
  e2e/email-verification-security.spec.ts
  e2e/local-mobile-fix-verification.spec.ts
  e2e/production-mobile-content-verification.spec.ts
  playwright-report/index.html
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
  src/components/Sidebar.tsx
Owners: @onephotolife, @frontend-team

fix: モバイル表示でコンテンツが隠れる問題を修正
  playwright-report/index.html
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

fix: モバイルレイアウトのflexbox制約を修正
  playwright-report/index.html
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

fix: モバイルレイアウトを根本的に修正
  playwright-report/index.html
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team
