Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team

feat: 完全な権限管理システムとモバイル対応の実装
  auth-state.json
  e2e/auth-permission-simplified.spec.ts
  e2e/auth-permission-test.spec.ts
  e2e/debug-login.spec.ts
  e2e/local-permission-test.spec.ts
  e2e/production-auth-test.spec.ts
  playwright-report/index.html
  production-test-fixed.log
  scripts/fix-test-user.js
  scripts/list-users.js
  scripts/setup-atlas-test-user.js
  scripts/setup-test-user.js
  scripts/verify-user.js
  server.log
  src/app/api/test-auth/route.ts
Owners: @onephotolife, @frontend-team

fix: My Postsページのいいね数集計を修正
  check-login.log
  e2e/check-login-url.spec.ts
  e2e/production-permission-test.spec.ts
  permission-test-fixed.log
  src/app/api/posts/my-posts/route.ts
  src/app/my-posts/page.tsx
Owners: @onephotolife, @frontend-team

fix: My Postsページから「公開済み」タブを削除
  e2e/production-like-count-test.spec.ts
  src/app/my-posts/page.tsx
Owners: @onephotolife, @frontend-team

fix: いいねボタンの動作とリアルタイム更新を修正
  e2e/local-like-functionality.spec.ts
  e2e/production-like-button-test.spec.ts
  e2e/production-tab-check.spec.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

feat: ハートアイコンの表示を明確化
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

fix: いいねボタンをBadgeからハート型に修正
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

fix: いいねボタンの赤色(color=error)を削除
  debug-like-api-fixed.log
  debug-like-api.log
  deployment-verification-after-redeploy.log
  deployment-verification.log
  e2e/debug-like-api.spec.ts
  e2e/heart-icon-verification.spec.ts
  e2e/verify-code-deployment.spec.ts
  playwright-report/index.html
  production-like-button-test-fixed.log
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

fix: FavoriteIconに明示的なグレー色を設定して赤色を完全に削除
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

fix: ハートアイコンをtext.secondaryカラーに統一
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

fix: RealtimeBoard.tsxの構文エラーを修正
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

fix: RealtimeBoard.tsxのインポート不足を修正
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

fix: FiberManualRecordIconのインポート追加とハートアイコンの色を灰色に変更
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

fix: ハートアイコンの色を強制的に灰色に設定
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

fix: 既存投稿のstatusをpublishedに修正するマイグレーションスクリプト
  scripts/fix-post-status.js
Owners: @onephotolife

fix: RealtimeBoardのAPI応答フィールド名を修正
  e2e/production-final-check.spec.ts
  e2e/production-heart-icon-gray-test.spec.ts
  e2e/production-like-button-test.spec.ts
  e2e/production-myposts-heart-test.spec.ts
  e2e/production-posts-investigation.spec.ts
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

fix: ヘッダーから不要な要素を削除（通知ベル、設定アイコン、オフラインチップ、通報ボタン）
  src/components/AppLayout.tsx
  src/components/RealtimeBoard.tsx
  src/components/RealtimeBoardWrapper.tsx
Owners: @frontend-team

fix: ダッシュボードページからも通知ベルアイコンを削除
  e2e/verify-ui-elements-removed.spec.ts
  src/app/dashboard/page.tsx
Owners: @onephotolife, @frontend-team

fix: RealtimeBoardから接続状態チップ（接続中.../リアルタイム接続中）を削除
  src/components/RealtimeBoard.tsx
Owners: @frontend-team

いいね機能を全て削除
  e2e/verify-connection-chip-removed.spec.ts
  src/app/api/posts/[id]/like/route.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/my-posts/route.ts
  src/app/api/posts/route.ts
  src/app/api/posts/stats/route.ts
  src/app/my-posts/page.tsx
  src/components/RealtimeBoard.tsx
  src/components/board/PostCard.tsx
  src/lib/models/Post.ts
  src/models/Post.ts
  src/models/Post.unified.ts
Owners: @onephotolife, @frontend-team, @backend-team, @database-team

fix: デスクトップ画面でのサイドバーレイアウトずれを修正
  e2e/verify-likes-removed-simple.spec.ts
  e2e/verify-likes-removed.spec.ts
  src/components/Sidebar.tsx
Owners: @onephotolife, @frontend-team

fix: PCサイズでのメインコンテンツレイアウトずれを修正
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

fix: JSX構文エラーを修正（重複した終了タグを削除）
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

fix: dashboard page構文エラー（二重セミコロン）を修正
  src/app/dashboard/page.tsx
Owners: @frontend-team

fix: サイドバーとメインコンテンツの垂直位置を揃える
  e2e/debug-production-content.spec.ts
  e2e/verify-layout-fix.spec.ts
  e2e/verify-layout-simple.spec.ts
  e2e/verify-prod-layout.spec.ts
  playwright-report/index.html
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

fix: デスクトップでのサイドバーとメインコンテンツの垂直位置を修正
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

fix: デスクトップ表示でサイドバーとメインコンテンツの垂直位置を完全に揃える
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

fix: サイドバーメニューとメインコンテンツの垂直位置を大幅調整
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

fix: サイドバーメニュー開始位置（約240px）に正確に合わせる
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

fix: サイドバーメニューとメインコンテンツの垂直位置を完全に修正
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
  src/components/Sidebar.tsx
Owners: @frontend-team

fix: メインコンテンツ表示問題を緊急修正
  e2e/quick-layout-check.spec.ts
  e2e/verify-layout-alignment.spec.ts
  playwright-report/index.html
  screenshots/dashboard-alignment.png
  screenshots/my-posts-alignment.png
  screenshots/new-post-alignment.png
  screenshots/profile-alignment.png
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

fix: サイドバーメニューとメインコンテンツの垂直位置を真に修正
  e2e/final-verification.spec.ts
  e2e/full-page-check.spec.ts
  playwright-report/index.html
  screenshots/dashboard-full.png
  screenshots/dashboard-scrolled.png
  screenshots/final-dashboard.png
  screenshots/final-my-posts.png
  screenshots/final-new-post.png
  screenshots/final-profile.png
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
  src/components/Sidebar.tsx
Owners: @onephotolife, @frontend-team

fix: サイドバーメニューとメインコンテンツの垂直位置を正確に修正
  e2e/measure-exact-positions.spec.ts
  e2e/test-with-fresh-login.spec.ts
  screenshots/final-dashboard.png
  screenshots/final-my-posts.png
  screenshots/final-new-post.png
  screenshots/final-profile.png
  screenshots/new-post-fresh-login.png
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

fix: minHeight配置順序を修正し、垂直位置を正確に調整
  e2e/debug-content-position.spec.ts
  e2e/verify-alignment-final.spec.ts
  screenshots/verified-dashboard.png
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

fix: レイアウト統一によるPC画面でのメインコンテンツ位置ずれ修正
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/posts/new/page.tsx
  src/app/profile/page.tsx
Owners: @frontend-team

feat: サイドバーメニューから検索機能を削除
  e2e/verify-applayout-alignment.spec.ts
  e2e/verify-final-alignment.spec.ts
  screenshots/applayout-dashboard.png
  src/components/AppLayout.tsx
Owners: @onephotolife, @frontend-team

fix: プロフィールページのSidebar未定義エラーを修正
  e2e/verify-search-removal-final.spec.ts
  e2e/verify-search-removal.spec.ts
  screenshots/search-removed-final.png
  screenshots/search-removed-verification.png
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

fix: ダッシュボード投稿表示のsliceエラーを修正
  e2e/dashboard-posts-fix.spec.ts
  src/app/dashboard/page.tsx
Owners: @onephotolife, @frontend-team

feat: セキュリティ機能の包括的強化実装
  __tests__/security/security-enhancement.test.ts
  docs/SECURITY_ENHANCEMENT_DESIGN.md
  e2e/security-verification.spec.ts
  src/app/api/csrf/token/route.ts
  src/lib/security/audit-logger.ts
  src/lib/security/csrf-protection.ts
  src/lib/security/rate-limiter-v2.ts
  src/lib/security/sanitizer-v2.ts
  src/middleware.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: デザイン品質の包括的改善 - 細部に神が宿る美しさを実現
  e2e/design-verification.spec.ts
  src/components/EnhancedAppLayout.tsx
  src/styles/responsive.css
  src/styles/theme.ts
Owners: @onephotolife, @frontend-team, @design-team

feat: デザインコンポーネント統合 - EnhancedAppLayoutの適用
  src/app/dashboard/page.tsx
  src/app/my-posts/page.tsx
  src/app/profile/page.tsx
  src/app/providers.tsx
Owners: @frontend-team
