Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

chore: update .gitignore for test artifacts and logs
  .gitignore
Owners: @onephotolife

test: 追加のE2Eテストファイルを追加
  tests/e2e/auth-comment-e2e.spec.ts
  tests/e2e/board.spec.ts
  tests/e2e/comment-ui-e2e-tests.spec.ts
  tests/e2e/comment-validation-comprehensive.test.js
  tests/e2e/comment.spec.ts
  tests/e2e/csp-compliant-test.spec.ts
  tests/e2e/dialog-ui.spec.ts
  tests/e2e/impact-range-verification.spec.ts
  tests/e2e/mobile-menu-fix.spec.ts
  tests/e2e/mobile-menu-zindex.spec.ts
  tests/e2e/mobile-notification.spec.ts
  tests/e2e/notification-optimized.spec.ts
  tests/e2e/react-key-error-verification.spec.ts
  tests/e2e/timeline-auth.test.ts
  tests/e2e/timeline-e2e.test.ts
  tests/e2e/timeline-integration.test.ts
Owners: @qa-team

ci: GitHub ActionsワークフローとCI/CDドキュメントを追加
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  docs/CI_CD_SETUP.md
Owners: @devops-team, @onephotolife

chore: setup lint-staged for pre-commit checks
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
Owners: @onephotolife, @tech-lead

feat: CSRF完全同期メカニズム実装完了 - E2E検証済み
  docs/CSRF_COMPLETE_SYNC_DESIGN.md
  jest.config.js
  package-lock.json
  package.json
  src/__mocks__/next-auth.js
  src/__tests__/integration/csrf-sync.test.ts
  src/app/api/csrf/route.ts
  src/app/api/posts/[id]/comments/[commentId]/route.ts
  src/app/api/posts/[id]/comments/route.ts
  src/app/api/posts/route.ts
  src/components/__tests__/CSRFProvider.test.tsx
  src/hooks/useCSRF.ts
  src/hooks/useCSRFSync.ts
  src/lib/security/csrf-middleware.ts
  src/lib/security/csrf-sync-manager.ts
  src/lib/security/csrf.ts
  tests/e2e/csrf-comment-delete.spec.ts
  tests/e2e/csrf-user-flow-comprehensive.spec.ts
  tests/setup/jest.setup.ts.bak
Owners: @onephotolife, @tech-lead, @qa-team, @frontend-team, @backend-team

fix: テストファイルのconsole.log → console.warn 修正
  src/__tests__/integration/csrf-sync.test.ts
Owners: @qa-team

chore: .gitignoreに開発用ユーティリティファイル除外を追加
  .gitignore
Owners: @onephotolife

SECURITY: Pre-fix backup - 2025年 9月 4日 木曜日 09時49分09秒 JST
  CLAUDE_CODE_SECURITY_FIX_GUIDE.md
  security-baseline-20250904-094907.json
  security-baseline.json
  security-fix-backup-20250904-094907/package-lock.json
  security-fix-backup-20250904-094907/package.json
Owners: @onephotolife

🔒 SECURITY: Complete vulnerability remediation - Zero vulnerabilities achieved
  package-lock.json
  package.json
Owners: @onephotolife, @tech-lead

feat: MongoDB Atlas最適化システム（コア実装）
  scripts/mongodb-optimization/README.md
  scripts/mongodb-optimization/run-optimization.sh
  src/lib/db/mongodb-optimized.ts
Owners: @onephotolife, @backend-team

chore: MongoDB最適化スクリプトを.gitignoreに追加
  .gitignore
Owners: @onephotolife

chore: use Reflect.deleteProperty in Notification.toJSON to avoid any; pre-commit passing
  server.js
  src/app/api/notifications/route.ts
  src/app/api/posts/[id]/comments/route.ts
  src/components/NotificationBell.tsx
  src/hooks/useNotifications.ts
  src/lib/models/Notification.ts
  src/lib/services/notificationService.ts
  src/lib/socket/client.tsx
  src/lib/socket/socket-manager.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix(build): resolve next-auth peer conflict by removing @auth/*, set engines.node >=20.18.1; move app backup routes out of src/app
  HASHTAG_FEATURE_IMPLEMENTATION_SPEC.md
  Next.js-14.x-LTS-ダウングレード-完全調査レポート-2025-09-03.md
  SECURITY_VULNERABILITY_FIX_INSTRUCTIONS.md
  localhost-3000-complete-resolution-analysis-2025-09-03.md
  localhost-3000-final-technical-analysis-2025-09-03.md
  notification-system-implementation-report.md
  notification-system-root-cause-solution-design.md
  notification-system-strict120-analysis-report.md
  package-lock 2.json
  package.json
  src/app/api/auth/resend/route.ts.backup
  src/app/auth/signup/page.tsx.backup
  static-file-serving-root-cause-analysis-2025-09-03.md
Owners: @onephotolife, @tech-lead, @frontend-team

chore(lint): fix eslint issues for tags feature (no-explicit-any, unused imports)
  HASHTAG_FEATURE_IMPLEMENTATION_PLAN.md
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
  src/app/tags/[tag]/page.tsx
  src/app/utils/hashtag.ts
  src/components/EnhancedPostCard.tsx
  src/components/PostItem.tsx
  src/lib/models/Tag.ts
Owners: @onephotolife, @frontend-team, @backend-team

chore(ci): enforce typecheck via prebuild (tsc --noEmit)
  package.json
Owners: @tech-lead

feat(tags): add /api/tags/search (prefix suggestion) and /api/tags/trending (aggregation)
  src/app/api/tags/search/route.ts
  src/app/api/tags/trending/route.ts
Owners: @frontend-team

test(tags): replace supertest dependency with fetch-based E2E smoke tests; add Playwright tags test
  src/__tests__/e2e/hashtags.e2e.test.ts
  tests/e2e/tags.spec.ts
Owners: @qa-team

fix(hashtag): resolve API contract mismatch and IPv6 rate limit error
  src/hooks/useHashtagSuggestions.ts
  src/lib/rateLimit.ts
Owners: @onephotolife, @backend-team

feat(tags): add rate limiting to trending API endpoint
  src/app/api/tags/trending/route.ts
Owners: @frontend-team

feat(playwright): add cross-browser support for webkit and firefox
  playwright.config.ts
Owners: @onephotolife

chore(lint): fix remaining e2e unused var errors in tags.spec
  CLAUDE_CODE_EXECUTION_KICKOFF_TEMPLATE.md
  CLAUDE_CODE_HASHTAGS_EXECUTION_GUIDE.md
  CLAUDE_CODE_HASHTAG_E2E_MASTER_RUNBOOK_v4.md
  CLAUDE_CODE_HASHTAG_E2E_ONESHOT_RUNBOOK_v6.md
  CLAUDE_CODE_HASHTAG_FULL_RUNBOOK.md
  CLAUDE_CODE_HASHTAG_V4_POST_REPORT_NEXT_STEPS.md
  CLAUDE_CODE_HASHTAG_V5_POST_REPORT_NEXT_STEPS.md
  CLAUDE_CODE_NEXT_STEPS_HASHTAG_EXECUTION.md
  CLAUDE_CODE_P0_P1_EXECUTION_PLAYBOOK.md
  CLAUDE_CODE_P0_P1_IMPLEMENTATION_PLAN.md
  CLAUDE_CODE_POST_REPORT_NEXT_STEPS.md
  CLAUDE_CODE_SECURITY_FIX_GUIDE.md
  HASHTAG_FEATURE_IMPLEMENTATION_PLAN.md
  HASHTAG_FEATURE_IMPLEMENTATION_SPEC.md
  HASHTAG_FEATURE_IMPLEMENTATION_VERIFICATION_REPORT_2025-09-04_23-22-11.md
  HASHTAG_IMPLEMENTATION_COMPLETION_REPORT_JP.md
  HASHTAG_IMPLEMENTATION_DETAILED_REPORT_JP.md
  package-lock.json
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/auth/_log/route.ts
  src/lib/api-auth.ts
  src/lib/rateLimit.ts
  src/lib/security/csrf-sync-manager.ts
  src/middleware.ts
  tests/e2e/hashtag.seed.setup.ts
  tests/e2e/storageState.json
  tests/e2e/tags.api.spec.ts
  tests/e2e/tags.create.link.nav.spec.ts
  tests/e2e/tags.rate-limit.spec.ts
  tests/e2e/tags.spec.ts
  tests/e2e/tags.suggestion.ui.spec.ts
  tests/e2e/tags.tag-page.from-trending.spec.ts
  tests/e2e/tags.unicode.edge.spec.ts
  tsconfig.scripts 2.json
Owners: @onephotolife, @frontend-team, @backend-team, @qa-team

fix(lint): remove unused imports/vars; typing for /api/posts likes aggregate; tidy TagDetailClient
  CLAUDE_CODE_TAGS_INDEX_AND_DETAIL_MASTER_RUNBOOK_v3.md
  CLAUDE_CODE_TAGS_INDEX_IMPLEMENTATION_RUNBOOK_v1.md
  CLAUDE_CODE_TAGS_INDEX_IMPLEMENTATION_RUNBOOK_v2.md
  CLAUDE_CODE_TAGS_V4_FIX_AND_HARDENING_RUNBOOK.md
  CLAUDE_CODE_TAGS_V5_MASTER_RUNBOOK.md
  CLAUDE_CODE_TAG_DETAIL_UX_IMPROVEMENT_RUNBOOK_v1.md
  TAGS_INDEX_DETAILED_EXECUTION_REPORT_2025-09-05.md
  TAGS_INDEX_IMPLEMENTATION_REPORT_2025-09-05.md
  TAGS_V3_DETAILED_EXECUTION_REPORT_2025-09-05.md
  TAGS_V3_MASTER_IMPLEMENTATION_REPORT_2025-09-05.md
  TAGS_V5_DETAILED_EXECUTION_REPORT_2025-09-05.md
  TAGS_V5_DETAILED_WORK_REPORT_2025-09-05.md
  TAGS_V5_FINAL_IMPLEMENTATION_REPORT_2025-09-05.md
  TAGS_V5_IMPLEMENTATION_REPORT_2025-09-05.md
  src/app/api/posts/route.ts
  src/app/api/tags/index/route.ts
  src/app/tags/[tag]/TagDetailClient.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/layout.tsx
  src/app/tags/page.tsx
  src/components/EnhancedAppLayout.tsx
  src/components/board/PostCard.tsx
  src/lib/validations/post.ts
  src/middleware.ts
  tests/e2e/tags.detail.spec.ts
  tests/e2e/tags.index.spec.ts
  tests/e2e/tags.v5.detail.spec.ts
  tests/e2e/tags.v5.index.spec.ts
Owners: @onephotolife, @frontend-team, @backend-team, @qa-team

fix(tags): ensure card visibility with portal fallback and scoped CSS; debug gating; API typing; E2E update; docs update; Popper chunk fix
  CLAUDE_CODE_HASHTAG_E2E_MASTER_RUNBOOK_v4 2.md
  CLAUDE_CODE_HASHTAG_E2E_ONESHOT_RUNBOOK_v6 2.md
  CLAUDE_CODE_HASHTAG_V4_POST_REPORT_NEXT_STEPS 2.md
  CLAUDE_CODE_HASHTAG_V5_POST_REPORT_NEXT_STEPS 2.md
  CLAUDE_CODE_TAGS_INDEX_IMPLEMENTATION_RUNBOOK_v1 2.md
  CLAUDE_CODE_TAGS_INDEX_IMPLEMENTATION_RUNBOOK_v2 2.md
  TAGS_INDEX_IMPLEMENTATION_REPORT_2025-09-05 2.md
  TAG_PAGE_FIX_DETAILED_REPORT_2025-09-06.md
  docs/tag-page-visibility-fix.md
  next.config.js
  src/app/api/posts/route.ts
  src/app/globals.css
  src/app/tags/[tag]/TagDetailClient.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/layout.tsx
  src/components/EnhancedAppLayout.tsx
  tests/e2e/tags.desktop-layout.spec.ts
  tests/e2e/tags.show-posts.spec.ts
  tsconfig.scripts 3.json
Owners: @onephotolife, @frontend-team, @qa-team

feat(header): 検索/通知/メッセージ/新規投稿を追加しa11y改善 (#global)
  src/components/ClientHeader.tsx
Owners: @frontend-team

chore(layout): 全ページからグローバルヘッダーを削除し、E2E期待値を更新
  src/app/layout.tsx
  tests/e2e/header-global.spec.ts
Owners: @frontend-team, @qa-team

feat(tags): タグ詳細ページ上部にローカルヘッダー（タイトル＋通知）を追加し、Containerをlgへ拡張 (#tags/header)
  src/app/tags/[tag]/TagDetailClient.tsx
Owners: @frontend-team

chore(gitignore): ignore local cookie jar, e2e auth storage, junit.xml
  .gitignore
Owners: @onephotolife

chore(lint): E2E/スクリプトのconsole使用をwarn/errorへ統一しlint警告を解消
  .github/workflows/test.yml
  package.json
  reports/CONSOLE_SNIPPETS_TAGS_TOGGLE_MINIFIED_2025-09-08.md
  reports/TAG_DETAIL_TOGGLE_VISIBILITY_ANALYSIS_2025-09-08.md
  reports/TAG_PAGE_RECOVERY_RUNBOOK_2025-09-08.md
  reports/TAG_POPULAR_SORT_FINAL_REPORT_2025-09-07.md
  reports/TAG_POPULAR_SORT_ROOT_CAUSE_2025-09-07.md
  reports/TAG_POPULAR_SORT_SOLUTION_STUDY_2025-09-07.md
  reports/TAG_TOGGLE_VISIBILITY_FINAL_PLAN_2025-09-08.md
  scripts/backfill-tags-unified.mjs
  scripts/backfill-tags.mjs
  scripts/scripts/backfill-tags.js
  src/__tests__/unit/tags.sort-toggle.test.tsx
  src/app/tags/[tag]/TagDetailClient.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/layout.tsx
  src/app/tags/page.tsx
  src/components/EnhancedAppLayout.tsx
  src/components/TagLocalHeader.tsx
  src/components/TrendingTagsBar.tsx
  tests/e2e/global-setup.ts
  tests/e2e/tags.popular-visibility.auth.spec.ts
  tests/e2e/tags.toggles.all-variants.spec.ts
  tests/integration/api/posts.popular-sort.auth.test.ts
Owners: @devops-team, @tech-lead, @onephotolife, @qa-team, @frontend-team

Add files via upload
  README_CI.md
  codex-bench-e2e.yml
  codex-dispatch.yml
  docs/SECRETS_SETUP.md
Owners: @onephotolife

Rename codex-bench-e2e.yml to .github/workflows/codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Rename codex-dispatch.yml to .github/workflows/codex-dispatch.yml
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Create route.ts
  src/app/api/ready/route.ts
Owners: @frontend-team

Update codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Update codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Update codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Update codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Update codex-dispatch.yml
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Update codex-bench-e2e.yml
  .github/workflows/codex-bench-e2e.yml
Owners: @devops-team

Update codex-dispatch.yml
  .github/workflows/codex-dispatch.yml
Owners: @devops-team

Add files via upload
  codex-dispatch.yml
Owners: @onephotolife

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team
