Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team

fix: /api/performanceエンドポイントのCSRF保護を除外し403エラーを解決
  e2e/production-design-test.spec.ts
  src/middleware.ts
  verify-production.js
Owners: @onephotolife

fix: 429エラー解決のためレート制限を調整
  e2e/verify-403-fix.spec.ts
  src/lib/security/rate-limiter-v2.ts
  src/middleware.ts
Owners: @onephotolife, @backend-team

fix: 429エラーを完全解決するためレート制限を緩和
  e2e/verify-login-429-fix.spec.ts
  src/app/api/csrf/route.ts
  src/lib/security/rate-limiter-v2.ts
  src/middleware.ts
  test-manual-login.md
Owners: @onephotolife, @frontend-team, @backend-team

fix: ダッシュボードページのレイアウト問題を修正 - 二重コンテナを解消
  e2e/dashboard-layout.spec.ts
  e2e/verify-final-429-fix.spec.ts
  src/app/dashboard/page.tsx
  tests/dashboard-layout.spec.ts
Owners: @onephotolife, @frontend-team, @qa-team

fix: EnhancedAppLayoutのサイドバー配置を修正
  e2e/local-layout-test.spec.ts
  e2e/prod-dashboard-final-check.spec.ts
  e2e/prod-dashboard-verification.spec.ts
  e2e/prod-manual-verification.spec.ts
  src/components/EnhancedAppLayout.tsx
Owners: @onephotolife, @frontend-team

fix: サイドバーを左側に固定
  e2e/verify-production-fix.spec.ts
  src/components/EnhancedAppLayout.tsx
Owners: @onephotolife, @frontend-team

fix: ダッシュボードページをAppLayoutに変更して表示問題を解決
  src/app/dashboard/page.tsx
Owners: @frontend-team

fix: my-postsページをAppLayoutに変更してレイアウト問題を解決
  e2e/final-production-check.spec.ts
  e2e/my-posts-layout-test.spec.ts
  src/app/my-posts/page.tsx
Owners: @onephotolife, @frontend-team

fix: /profileページのレイアウト問題を修正 - EnhancedAppLayoutからAppLayoutに変更
  e2e/profile-layout-test.spec.ts
  src/app/profile/page.tsx
Owners: @onephotolife, @frontend-team

fix: メニューとフッターから「お問い合わせ」リンクを削除
  e2e/final-layout-verification.spec.ts
  src/app/layout.tsx
  src/components/AppLayout.tsx
Owners: @onephotolife, @frontend-team

feat: privacy/termsページにログイン状態に応じたメニューを追加
  e2e/contact-removal-test.spec.ts
  src/app/privacy/page.tsx
  src/app/terms/page.tsx
Owners: @onephotolife, @frontend-team

feat: エディタ機能を削除しシンプルなテキストエリアに変更
  e2e/editor-full-test.spec.ts
  e2e/privacy-terms-menu-test.spec.ts
  src/app/posts/new/page.tsx
Owners: @onephotolife, @frontend-team

fix: トップページの掲示板ボタンの視認性を改善
  e2e/editor-removal-test.spec.ts
  src/components/WelcomeSection.tsx
Owners: @onephotolife, @frontend-team

fix: 会員専用機能セクションのアイコンをセンタリング
  e2e/button-visibility-test.spec.ts
  src/components/HomePage/FeatureGrid.tsx
Owners: @onephotolife, @frontend-team

fix: 掲示板ページのカテゴリ表示を日本語に統一
  e2e/icon-centering-test.spec.ts
  src/components/RealtimeBoard.tsx
Owners: @onephotolife, @frontend-team

fix: ログアウトURL重複エンコーディング問題を解決
  src/components/AppLayout.tsx
  src/components/EnhancedAppLayout.tsx
  src/components/Sidebar.tsx
Owners: @frontend-team

fix: ログアウトのリダイレクトループ問題を完全解決
  e2e/category-japanese-test.spec.ts
  e2e/verify-logout-fix.spec.ts
  playwright-report/index.html
  src/components/AppLayout.tsx
  src/components/EnhancedAppLayout.tsx
  src/components/PureHeader.tsx
  src/components/Sidebar.tsx
  src/lib/auth.config.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix: ログアウト機能のリダイレクトループを完全解決
  playwright-report/index.html
  src/components/AppLayout.tsx
  src/components/EnhancedAppLayout.tsx
  src/components/PureHeader.tsx
  src/components/Sidebar.tsx
Owners: @onephotolife, @frontend-team

fix: ログアウト時の無限リダイレクトループを解決
  src/middleware.ts
Owners: @onephotolife

fix: emailVerified未設定ユーザーの認証問題を解決
  src/lib/auth.config.ts
  src/lib/auth.ts
Owners: @backend-team

feat: my-postsページから不要な要素を削除
  PHASE1-FIX-REPORT.md
  PHASE2-FIX-REPORT.md
  e2e/investigate-logout-issue.spec.ts
  e2e/verify-email-verified-fix.spec.ts
  e2e/verify-logout-fix-phase1.spec.ts
  playwright-report/index.html
  scripts/fix-email-verified.js
  src/app/my-posts/page.tsx
  test-logout-investigation.log
Owners: @onephotolife, @frontend-team

feat: boardページから閲覧数表示を削除
  e2e/simple-my-posts-check.spec.ts
  e2e/verify-my-posts-fix.spec.ts
  src/components/RealtimeBoard.tsx
  test-my-posts-result.log
Owners: @onephotolife, @frontend-team

feat: ログアウトボタンを利用規約リンクの直下に移動
  BOARD-FIX-REPORT.md
  board-test-result.log
  e2e/verify-board-fix.spec.ts
  src/components/AppLayout.tsx
Owners: @onephotolife, @frontend-team

fix: my-postsページから不適切なダミーデータを削除
  LOGOUT-POSITION-REPORT.md
  e2e/verify-logout-position.spec.ts
  src/app/my-posts/page.tsx
Owners: @onephotolife, @frontend-team

fix: ダッシュボードページからお知らせセクションを削除
  MY-POSTS-SECURITY-FIX-REPORT.md
  e2e/verify-my-posts-security.spec.ts
  src/app/dashboard/page.tsx
Owners: @onephotolife, @frontend-team

fix: ダッシュボードというテキストを会員制掲示板に変更
  DASHBOARD-ANNOUNCEMENT-REMOVAL-REPORT.md
  e2e/verify-dashboard-no-announcement.spec.ts
  src/app/dashboard/page.tsx
  src/components/AppLayout.tsx
  src/lib/auth.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix: 403エラー解決 - CSRFトークンをヘッダーに追加
  403-ERROR-ROOT-CAUSE-REPORT.md
  403-ERROR-SOLUTION-REPORT.md
  DASHBOARD-TITLE-CHANGE-REPORT.md
  e2e/verify-title-change.spec.ts
  src/app/posts/new/page.tsx
Owners: @onephotolife, @frontend-team

fix: csrf-sessionクッキーを追加してCSRF検証を完全修正
  src/app/api/csrf/route.ts
Owners: @frontend-team

fix: NextAuthとのCSRFトークン競合を解決
  403-ERROR-COMPLETE-SOLUTION-REPORT.md
  403-ERROR-DEEP-ANALYSIS-REPORT.md
  403-ERROR-RESOLUTION-RESULT.md
  analyze-cookie-conflict.js
  check-csrf-flow.js
  src/app/api/csrf/route.ts
  src/components/CSRFProvider.tsx
  src/hooks/useCSRF.ts
  src/lib/security/csrf-edge.ts
  src/lib/security/csrf-protection.ts
  src/lib/security/csrf.ts
  verify-token-flow.js
Owners: @onephotolife, @frontend-team, @backend-team

fix: useCSRF.tsの全csrf-token参照をapp-csrf-tokenに統一して403エラーを解決
  403-ERROR-FINAL-ROOT-CAUSE-REPORT.md
  403-ERROR-SOLUTION-IMPLEMENTATION-RESULT.md
  src/hooks/useCSRF.ts
Owners: @onephotolife

fix: CSRFクッキーのSameSite属性をlaxに変更して403エラーを解決
  403-ERROR-FINAL-FIX-RESULT.md
  403-ERROR-IMMEDIATE-SOLUTION.md
  403-ERROR-TRUE-ROOT-CAUSE-REPORT.md
  src/app/api/csrf/route.ts
  src/lib/security/csrf-protection.ts
  test-csrf-browser.html
Owners: @onephotolife, @frontend-team, @backend-team

fix: CSRFセッショントークンを分離し、デバッグログを追加
  src/app/api/csrf/route.ts
  src/lib/security/csrf-protection.ts
Owners: @frontend-team, @backend-team

debug: CSRFトークン問題調査用のデバッグエンドポイントを追加
  src/app/api/test-csrf/route.ts
Owners: @frontend-team

fix: デバッグエンドポイントをCSRF検証から除外
  src/middleware.ts
Owners: @onephotolife

docs: 403エラー最終分析レポート - 真の原因はNextAuth認証セッション
  403-ERROR-FINAL-ANALYSIS-REPORT.md
Owners: @onephotolife

debug: ブラウザテスト用のデバッグHTMLを追加
  test-browser-post.html
Owners: @onephotolife

debug: ブラウザCSRF問題調査用のデバッグエンドポイントとスクリプトを追加
  src/app/api/debug-csrf/route.ts
  src/middleware.ts
Owners: @frontend-team, @onephotolife

docs: ブラウザ環境403エラー根本原因分析レポート - NextAuth認証セッション問題
  BROWSER-403-ERROR-ROOT-CAUSE-REPORT.md
Owners: @onephotolife

fix: CSRFトークン再取得機能実装とEdge Runtime対応
  NEXTAUTH-403-ERROR-FINAL-REPORT.md
  src/app/api/csrf/route.ts
  src/app/api/posts/route.ts
  src/components/CSRFProvider.tsx
  src/lib/security/csrf-protection.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix: 投稿編集ページにCSRFトークン送信を実装 - 403エラー解決
  403-ERROR-RESOLUTION-FINAL-REPORT.md
  POST-EDIT-403-ROOT-CAUSE-REPORT.md
  POST-EDIT-403-TRUE-ROOT-CAUSE-REPORT.md
  src/app/posts/[id]/edit/page.tsx
Owners: @onephotolife, @frontend-team
