Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team

feat: ユーザー存在確認APIを追加（STRICT120準拠）
  src/app/api/users/[userId]/exists/route.ts
Owners: @frontend-team

feat: フォローAPIエラーの根本原因分析とSOL-2実装（CSRF二重化問題特定）
  .serena/memories/sol1-objectid-validator-consolidation.md
  __tests__/solutions/comprehensive-tests-authenticated.spec.ts
  __tests__/solutions/integration-tests-authenticated.spec.ts
  __tests__/solutions/unit-tests-authenticated.spec.ts
  follow-500-error-root-cause-analysis.md
  follow-500-solution-comprehensive-report.md
  follow-error-solution-final-report.md
  follow-error-true-root-cause.md
  sol1-implementation-report.md
  sol2-final-integration-report.md
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/users/[userId]/exists/route.ts
  src/app/api/users/[userId]/follow/route.ts
  src/components/FollowButton.tsx
  src/components/RealtimeBoard.tsx
  src/lib/auth.ts
  src/lib/validators/objectId.ts
  src/utils/validators/objectId.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: フォローシステム統合分析とCSRF/トランザクション改善
  FOLLOW-SYSTEM-TRUE-INTEGRATION-REPORT.md
  csrf-protection-true-solutions-final-report.md
  csrf-true-solutions-evaluation.md
  follow-error-solutions-final-report.md
  src/lib/models/User.ts
  src/lib/security/csrf-protection.ts
  src/middleware.ts
  tests/e2e/board-comprehensive.spec.ts
  tests/e2e/board.spec.ts
  tests/e2e/csp-compliant-test.spec.ts
  tests/e2e/dialog-ui.spec.ts
  tests/e2e/drawer.spec.ts
  tests/e2e/mobile-menu-fix.spec.ts
  tests/e2e/mobile-menu-zindex.spec.ts
  tests/e2e/responsive.spec.ts
  tests/e2e/simple-menu-test.spec.ts
Owners: @onephotolife, @backend-team, @qa-team

chore: 開発中の一時ファイルを.gitignoreに追加
  .gitignore
Owners: @onephotolife

feat: タイムライン機能の実装（独立コンポーネント方式）
  TIMELINE-FEATURE-DESIGN.md
  TIMELINE-IMPLEMENTATION-REPORT.md
  TIMELINE-INTEGRATION-REPORT.md
  TIMELINE-TRUE-INTEGRATION-ANALYSIS.md
  src/app/api/timeline/route.ts
  src/app/timeline/page.tsx
  src/components/ClientHeader.tsx
  src/components/Timeline.tsx
  src/hooks/useTimelineData.ts
  tests/e2e/timeline-e2e.test.ts
  tests/integration/timeline-integration.test.ts
  tests/unit/timeline-api.test.ts
Owners: @onephotolife, @frontend-team, @qa-team

feat: タイムライン認証実装の完全成功とhttpOnlyクッキー対応
  BOARD-API-AUTH-CLARIFICATION.md
  NEXTAUTH-JWT-ANALYSIS.md
  TIMELINE-AUTH-FIX-REPORT.md
  TIMELINE-AUTH-SUCCESS-REPORT.md
  tests/e2e/timeline-auth.test.ts
  tests/helpers/auth-helper.ts
Owners: @onephotolife, @qa-team

feat: タイムライン機能の統合分析とナビゲーション改善提案
  TIMELINE-INTEGRATION-ANALYSIS.md
  TIMELINE-NAVIGATION-UX-ANALYSIS.md
  TIMELINE-TRUE-INTEGRATION-REPORT.md
  src/components/Timeline.tsx
  tests/e2e/timeline-integration.test.ts
  tests/screenshots/timeline-03-unauth-redirect.png
Owners: @onephotolife, @frontend-team, @qa-team

feat: タイムラインナビゲーション実装とAppLayout統合
  package-lock.json
  package.json
  src/components/AppLayout.tsx
Owners: @onephotolife, @tech-lead, @frontend-team

docs: タイムラインナビゲーション実装レポートとテスト結果
  TIMELINE-NAVIGATION-IMPLEMENTATION-DETAILED-REPORT.md
  TIMELINE-NAVIGATION-IMPLEMENTATION-EVALUATION-REPORT.md
  TIMELINE-TRUE-NAVIGATION-INTEGRATION-REPORT.md
  timeline-integration-test-suite.js
  timeline-navigation-test-result.json
Owners: @onephotolife

feat: いいね機能403エラーの完全解決と改善実装
  LIKE-FEATURE-403-ERROR-ROOT-CAUSE-REPORT.md
  LIKE-FEATURE-COMPREHENSIVE-TEST-REPORT.md
  LIKE-FEATURE-FINAL-IMPLEMENTATION-REPORT.md
  LIKE-FEATURE-FINAL-REPORT.md
  LIKE-FEATURE-IMPLEMENTATION-STRATEGY-REPORT.md
  LIKE-FEATURE-INTEGRATION-REPORT.md
  LIKE-FEATURE-SOLUTION-IMPLEMENTATION-REPORT.md
  LIKE-FEATURE-TRUE-SOLUTION-REPORT.md
  scripts/check-likes-db.js
  scripts/fix-realtimeboard.sh
  scripts/migrate-likes.js
  src/__tests__/e2e/like-feature.e2e.test.ts
  src/__tests__/integration/like-feature.integration.test.ts
  src/app/api/posts/[id]/like/route.ts
  src/components/RealtimeBoard.tsx
  src/components/__tests__/RealtimeBoard.like.unit.test.ts
  src/lib/models/Post.ts
Owners: @onephotolife, @qa-team, @frontend-team, @backend-team

feat: コメント機能完全実装 - STRICT120プロトコル準拠
  COMMENT-FEATURE-FINAL-IMPLEMENTATION-REPORT.md
  src/app/api/posts/[id]/comments/[commentId]/route.ts
  src/app/api/posts/[id]/comments/route.ts
  src/app/api/posts/[id]/route.ts
  src/lib/models/Comment.ts
  src/lib/models/Post.ts
Owners: @onephotolife, @frontend-team, @backend-team

docs: エラー調査レポートと認証テストファイルを追加
  reports/COMMENT-FEATURE-IMPLEMENTATION-EVALUATION-REPORT.md
  reports/COMMENT-FEATURE-INTEGRATION-REPORT.md
  reports/COMMENT-UI-INTEGRATION-DESIGN-REPORT.md
  reports/DASHBOARD-ROUTE-CONFLICT-ROOT-CAUSE-REPORT.md
  reports/DASHBOARD-ROUTE-CONFLICT-SOLUTION-EVALUATION-REPORT.md
  reports/JAVASCRIPT-CHUNK-ERROR-ROOT-CAUSE-ANALYSIS-REPORT.md
  reports/ROUTE-CONFLICT-ANALYSIS-REPORT.md
  reports/solution-eval-2025-08-29T15-00-00Z.md
  reports/solution-eval-2025-08-29T15-10-13Z.md
  scripts/fixes/fix-dashboard-conflict.sh
  tests/auth-test-dashboard.js
  tests/auth-test-improved.js
  tests/solutions/comprehensive-tests-authenticated.spec.ts
  tests/solutions/integration-tests-authenticated.spec.ts
  tests/solutions/unit-tests-authenticated.spec.ts
  tests/test-dashboard-error.spec.ts
Owners: @onephotolife, @qa-team

fix: Postsルート競合問題の解決と包括的テスト実装
  .gitignore
  COMPREHENSIVE-SOLUTION-EVALUATION-REPORT.md
  POSTS-ROUTE-CONFLICT-ROOT-CAUSE-REPORT.md
  POSTS-ROUTE-CONFLICT-SOLUTION-IMPLEMENTATION-REPORT.md
  PROFILE-ROUTE-CONFLICT-RESOLUTION-REPORT.md
  SOLUTION-EVALUATION-ANALYSIS.md
  reports/BOARD-ROUTE-CONFLICT-ROOT-CAUSE-ANALYSIS.md
  reports/BOARD-ROUTE-CONFLICT-SOLUTION-REPORT.md
  reports/SOLUTION-IMPLEMENTATION-FINAL-REPORT.md
  tests/board-route-conflict-test.js
  tests/posts-route-auth-test.js
  tests/solutions/auth-test-fix-verification.js
  tests/solutions/auth-verification-http.js
  tests/solutions/comprehensive-e2e-test.js
  tests/solutions/comprehensive-tests.js
  tests/solutions/impact-analysis.js
  tests/solutions/impact-assessment.js
  tests/solutions/impact-validation-test.js
  tests/solutions/impact-verification-test.js
  tests/solutions/integration-test-with-auth.js
  tests/solutions/integration-tests.js
  tests/solutions/profile-auth-test.js
  tests/solutions/profile-route-evaluation.js
  tests/solutions/solution-evaluation.js
  tests/solutions/unit-test-solution-verification.js
  tests/solutions/unit-tests.js
Owners: @onephotolife, @qa-team

test: コメント機能の包括的テストスイートと認証フロー実装
  docs/comment-implementation-final-evaluation-report.md
  docs/comment-true-integration-analysis-report.md
  docs/comment-ui-integration-report.md
  docs/comment-ui-true-implementation-report.md
  docs/test-execution-final-complete-report.md
  docs/test-execution-final-report.md
  docs/test-execution-improvement-report.md
  jest.config.auth.js
  jest.config.js
  jest.config.simple.js
  package-lock.json
  package.json
  scripts/create-test-user.js
  tests/auth-integration.test.js
  tests/comment-api-test-fixed.js
  tests/comment-api-test.js
  tests/comment-api-verification.test.js
  tests/comment-api.test.js
  tests/comment-auth-test.js
  tests/comment-implementation-validation.ts
  tests/comprehensive/comment-feature-comprehensive.test.tsx
  tests/e2e/auth-comment-e2e.spec.ts
  tests/e2e/comment-ui-e2e-tests.spec.ts
  tests/integration/comment-feature-integration.test.tsx
  tests/integration/comment-ui-integration-tests.tsx
  tests/manual-auth-test.js
  tests/playwright-auth-test.js
  tests/run-auth-login-test.js
  tests/run-auth-test.js
  tests/setup-auth.js
  tests/unit/comment-feature-unit.test.ts
  tests/unit/comment-ui-unit-tests.ts
Owners: @onephotolife, @tech-lead, @qa-team

fix: CSRF保護問題の完全解決と開発環境改善
  .gitignore
  package-lock.json
  package.json
  src/app/api/posts/[id]/comments/route.ts
  src/app/board/page.tsx
  src/lib/models/Post.ts
  src/lib/security/csrf-token-manager.ts
  src/middleware.ts
  tests/complete-integration-test.sh
  tests/verification-test.sh
Owners: @onephotolife, @tech-lead, @frontend-team, @backend-team, @qa-team

fix: ERR_CONNECTION_REFUSED問題の完全解決 - Edge Runtime対応実装
  src/lib/security/rate-limiter-v2.ts
  src/lib/socket/client.tsx
Owners: @backend-team

docs: ERR_CONNECTION_REFUSED解決策の包括的ドキュメントとテストスイート
  docs/authentication-root-cause-analysis-20250831.md
  docs/comment-integration-implementation-strategy.md
  docs/comment-true-integration-report.md
  docs/comprehensive-solution-analysis-report.md
  docs/connection-refused-analysis-report.md
  docs/implementation-results-report.md
  docs/validation-error-implementation-strategy.md
  docs/validation-error-root-cause-analysis.md
  src/app/test/page.tsx
  tests/comprehensive/auth-full-system-comprehensive.test.js
  tests/integration/auth-middleware-security-integration.test.js
  tests/unit/auth-rate-limiter-edge-compatibility.test.js
Owners: @onephotolife, @frontend-team, @qa-team

perf: レンダリング最適化の実装とパフォーマンス改善
  docs/rendering-delay-root-cause-analysis.md
  docs/rendering-optimization-implementation-plan.md
  docs/rendering-optimization-results-report.md
  src/app/page.tsx
  src/app/providers.tsx
  src/components/CSRFProvider.tsx
  src/components/LazyMUI.tsx
  src/contexts/PermissionContext.tsx
  src/contexts/UserContext.tsx
  src/lib/initial-data-fetcher.ts
  tests/comprehensive/rendering-optimization-comprehensive.test.js
  tests/integration/provider-optimization-integration.test.js
  tests/performance/local-auth-performance.test.js
  tests/unit/parallel-data-fetcher.test.js
Owners: @onephotolife, @frontend-team, @backend-team, @qa-team

perf: CSRFトークン管理とデータフェッチの最適化
  .gitignore
  src/components/CSRFProvider.tsx
  src/lib/initial-data-fetcher.ts
  src/lib/security/csrf-token-manager.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: Provider Composerパターンによる階層最適化実装
  src/app/providers-optimized.tsx
  src/components/ProviderComposer.tsx
Owners: @frontend-team

test: Provider最適化の包括的テストスイート追加
  tests/csrf-auth-test.js
  tests/e2e/provider-optimization-comprehensive.test.js
  tests/integration/provider-hierarchy-integration.test.js
  tests/provider-optimization-quick-test.js
  tests/unit/provider-optimization.test.js
Owners: @qa-team

docs: Provider最適化とCSRF問題の詳細ドキュメント追加
  docs/csrf-429-error-root-cause-analysis.md
  docs/csrf-429-solution-implementation-report.md
  docs/csrf-429-solution-implementation-results.md
  docs/provider-hierarchy-optimization-root-cause-analysis.md
  docs/provider-optimization-final-solution-report.md
  docs/provider-optimization-implementation-report.md
Owners: @onephotolife

fix: UserContext無限ループとレート制限429エラーの解決
  docs/profile-rate-limit-error-report.md
  docs/usercontext-429-error-final-report.md
  docs/usercontext-fix-comprehensive-solution-report.md
  src/components/CSRFProvider.tsx
  src/contexts/UserContext.tsx
  src/middleware.ts
  tests/comprehensive/usercontext-fix-comprehensive.test.js
  tests/impact-assessment-test.js
  tests/integration/usercontext-fix-integration.test.js
  tests/profile-rate-limit-test.js
  tests/unit/usercontext-fix-unit.test.js
Owners: @onephotolife, @frontend-team, @qa-team

test: CSRF問題とダッシュボードエラーの調査・テストスイート追加
  docs/csrf-429-error-recurrence-root-cause-analysis.md
  docs/csrf-429-final-solution-report.md
  docs/csrf-429-true-solution-analysis-report.md
  docs/dashboard-profile-error-analysis-report.md
  tests/auth-csrf-test.js
  tests/browser-simulation-test.js
  tests/comprehensive/csrf-429-comprehensive.test.js
  tests/dashboard-error-debug.js
  tests/impact-test.js
  tests/integration/csrf-provider-integration.test.js
  tests/unit/csrf-token-manager-unit.test.js
Owners: @onephotolife, @qa-team

fix: /my-posts 401エラーの完全修正
  src/app/api/posts/my-posts/route.ts
  src/app/my-posts/page.tsx
Owners: @frontend-team

chore: .gitignoreを更新してデバッグファイルを除外
  .gitignore
Owners: @onephotolife

test: /my-posts修正の影響範囲テストを更新
  tests/impact-test.js
Owners: @qa-team

chore: .gitignoreパターンを調整
  .gitignore
Owners: @onephotolife

docs: /my-posts 401エラー修正の最終レポート追加
  my-posts-401-complete-fix-report.md
  my-posts-401-fix-implementation-report.md
Owners: @onephotolife

feat: /boardページAppLayout統合の実装と包括的テスト環境構築
  board-applayout-implementation-final-report.md
  board-left-menu-deep-analysis-report.md
  board-left-menu-integration-report.md
  my-posts-401-final-verification-report.md
  tests/impact-test.js
Owners: @onephotolife, @qa-team

feat: XSSサニタイゼーション脆弱性の完全対策実装
  src/app/api/posts/[id]/comments/route.ts
  src/components/EnhancedPostCard.tsx
  src/lib/models/Comment.ts
  tests/impact-test.js
  xss-implementation-final-report.md
  xss-solution-evaluation-report.md
  xss-vulnerability-investigation-report.md
Owners: @frontend-team, @backend-team, @qa-team, @onephotolife

feat: 全変更系APIエンドポイントにCSRF保護を実装
  src/app/api/posts/[id]/comments/[commentId]/route.ts
  src/app/api/posts/[id]/comments/route.ts
  src/app/api/posts/[id]/like/route.ts
  src/app/api/posts/[id]/route.ts
  src/app/api/posts/route.ts
Owners: @frontend-team

feat: コメント削除UIにアニメーションとフィードバックを追加
  src/components/EnhancedPostCard.tsx
Owners: @frontend-team

docs: セキュリティ脆弱性対策とAI品質保証ドキュメント追加
  AI-TRUTH-REPORTING-COGNITIVE-ARCHITECTURE-V2.md
  EVIDENCE-DRIVEN-TRUTH-REPORTING-SYSTEM.md
  csrf-implementation-final-report.md
  csrf-solution-evaluation-report.md
  csrf-vulnerability-root-cause-report.md
  csrf-vulnerability-test-1756722511991.json
Owners: @onephotolife

docs: コメント削除機能のUX改善調査・実装レポート追加
  comment-delete-user-display-root-cause-report.md
  comment-delete-ux-final-design-report.md
  comment-delete-ux-implementation-final-report.md
  comment-delete-ux-improvement-investigation-report.md
  comment-deletion-user-display-comprehensive-analysis-report.md
  comment-fix-implementation-report.md
Owners: @onephotolife

chore: テスト用依存関係を追加
  package-lock.json
  package.json
Owners: @onephotolife, @tech-lead

feat: 通知システムの実装とNextAuth認証修正
  .gitignore
  notification-system-final-solution-implementation-report.md
  notification-system-true-root-cause-report.md
  notification-system-ultimate-solution-report.md
  playwright.config.ts
  src/__tests__/e2e/notification-system-e2e.test.ts
  src/__tests__/integration/comment-notification-flow.test.ts
  src/__tests__/integration/like-notification-flow.test.ts
  src/__tests__/unit/api/notifications.test.ts
  src/__tests__/unit/models/notification.test.ts
  src/app/api/notifications/[id]/route.ts
  src/app/api/notifications/route.ts
  src/app/api/posts/[id]/comments/route.ts
  src/app/api/posts/[id]/like/route.ts
  src/lib/auth.ts
  src/lib/models/Notification.ts
  src/lib/security/csrf-unified.ts
  src/lib/services/notificationService.ts
  tests/auth.setup.ts
  tests/e2e/auth-notification.spec.ts
Owners: @onephotolife, @qa-team, @frontend-team, @backend-team

docs: Socket.IO実装分析レポート群を追加（実装は見送り）
  notification-system-true-solution-report.md
  notification-ui-implementation-report.md
  notification-ui-improvement-detailed-report.md
  socket-io-implementation-detailed-design.md
  socket-io-phase2-implementation-improvement-report.md
  socket-io-phase2-integration-analysis-report.md
Owners: @onephotolife

fix: ビルドエラー修正とE2Eテスト環境の最適化
  jest.config.js
  package-lock.json
  package.json
  src/app/api/posts/[id]/comments/route.ts
  src/app/dashboard/layout.tsx
  src/lib/auth.ts
  tests/auth.setup.ts
  tests/e2e/board-comprehensive.spec.ts
  tests/e2e/drawer.spec.ts
  tests/e2e/follow.spec.ts
  tests/e2e/health-check.spec.ts
  tests/e2e/helpers/api-helper.ts
  tests/e2e/helpers/db-helper.ts
  tests/e2e/helpers/optimal-auth.ts
  tests/e2e/responsive.spec.ts
  tests/e2e/simple-menu-test.spec.ts
Owners: @onephotolife, @tech-lead, @frontend-team, @backend-team, @qa-team

chore: update test screenshot for simple-menu-test
  tests/screenshots/simple-menu-test.png
Owners: @qa-team
