Repository onephotolife/my-board-app, changes with the owners that .github/CODEOWNERS names for each.
All owners: @onephotolife, @frontend-team, @design-team, @backend-team, @qa-team, @tech-lead, @devops-team, @security-team, @database-team

feat: いいね機能の改善と状態管理の強化
  src/app/(main)/posts/[id]/page.tsx
  src/app/api/posts/[id]/like/route.ts
  src/lib/models/Post.ts
Owners: @frontend-team, @backend-team

feat: Drawer機能の追加とナビゲーションの改善
  playwright-report/data/30560cf586971026880880ee0f2b9995b45efc71.webm
  playwright-report/data/3e18782fbe78365907ef89e0de7bb83084e59391.webm
  playwright-report/data/50aa01a66baf3c7d06f9f51397462345e277d0b0.webm
  playwright-report/data/55c1350eda207f3dc203e272fa29b74d122abd5b.md
  playwright-report/data/57e975b8ade8dfdcda3c2d61903b9600945a50c5.webm
  playwright-report/data/59a329ba9f37d2457e1f7f6d4d98a0861cb2651a.webm
  playwright-report/data/5f648029ed384fb73e764fa552fa21e070271823.png
  playwright-report/data/7d31f3ee5e2dcdc0ff16278c4b3e54bd311968bd.webm
  playwright-report/data/95bb2b0e02b35cc607aee7b88f68d9ffb48d987f.png
  playwright-report/data/9c1c79e12708ed71ca3037699da291feaba042bb.webm
  playwright-report/data/a58e08be3e671135b98cc32965a135145ce9ef48.webm
  playwright-report/data/e1a9ec67842393eee661c65503278d1b9596c8d9.webm
  playwright-report/data/eb56e7a41218cbb61c6673be07c3956c2404a5a2.webm
  playwright-report/index 2.html
  playwright-report/index.html
  src/app/(main)/board/board-layout-client.tsx
  src/components/ClientHeader.tsx
  src/components/MobileDrawer.tsx
  src/components/ModernHeader.tsx
  src/components/SlideDrawer.tsx
  test-drawer-debug.html
  test-drawer.html
  test-results/coverage-summary.json
  test-results/test-report-20250813_173520.md
  tests/e2e/drawer.spec.ts
  tests/integration/navigation.test.tsx
  tests/unit/MobileDrawer.test.tsx
Owners: @onephotolife, @frontend-team, @qa-team

ClientHeaderコンポーネントのリンクを修正し、常にトップページ（/）へ遷移するように変更しました。
  src/components/ClientHeader.tsx
Owners: @frontend-team

ClientHeaderコンポーネントからメニュー機能を削除し、アバター表示のみに変更しました。これにより、ユーザーインターフェースがシンプルになり、ナビゲーションが改善されます。
  src/components/ClientHeader.tsx
Owners: @frontend-team

CSRF保護機能を実装し、セキュリティ関連のドキュメントを追加しました。これにより、会員制掲示板アプリケーションのセキュリティが向上し、CSRF攻撃に対する防御が強化されました。また、デプロイ前のセキュリティチェックリストや監査結果を含む新しいレポートも作成しました。
  CSRF_PROTECTION_REPORT.md
  DEPLOYMENT_SECURITY_CHECKLIST.md
  FINAL_SECURITY_ASSESSMENT.md
  SECURITY_IMPROVEMENTS_REPORT.md
  deployment-security-audit-results.json
  next.config.js
  scripts/deployment-security-audit.js
  scripts/test-csrf-protection.js
  src/app/(main)/board/page.tsx
  src/app/api/csrf/route.ts
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/providers.tsx
  src/components/CSRFProvider.tsx
  src/components/PostForm.tsx
  src/hooks/useCSRF.ts
  src/lib/security/csrf.ts
  src/middleware.ts
Owners: @onephotolife, @frontend-team, @backend-team

会員制掲示板のCRUD機能に関する最終成功報告書とテスト計画書、テスト結果報告書を追加しました。これにより、テストの実施状況や成功率、セキュリティ機能の実装状況が明確に記録され、デプロイ準備が整いました。また、CSRF保護機能の実装に向けた新しいライブラリも追加され、セキュリティが強化されました。
  CRUD_TEST_FINAL_SUCCESS_REPORT.md
  CRUD_TEST_PLAN.md
  CRUD_TEST_REPORT.md
  crud-test-results.json
  scripts/crud-test-suite.js
  src/lib/security/csrf-edge.ts
  src/lib/security/rate-limiter.ts
  src/middleware.ts
Owners: @onephotolife, @backend-team

会員制掲示板のUI/UX最終テスト結果報告書、テスト計画書、テスト結果を追加しました。テスト成功率は92.3%で、UI/UX品質は「優秀」と評価され、即時デプロイが推奨されます。また、ナビゲーション要素やフッター要素の追加、スキップリンクの実装など、アクセシビリティ向上のための改善が行われました。
  UI_UX_FINAL_REPORT.md
  UI_UX_TEST_PLAN.md
  UI_UX_TEST_REPORT.md
  scripts/ui-ux-test-suite.js
  src/app/api/health/route.ts
  src/app/auth/signin/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/lib/security/rate-limiter.ts
  ui-ux-test-results.json
Owners: @onephotolife, @frontend-team, @backend-team

ファビコンをsrc/appからpublicに移動し、新しいアイコンコンポーネントを追加しました。また、CSRFトークンの取得に使用するクッキー名を一貫性のある変数に変更しました。
  public/favicon.ico
  src/app/favicon.ico
  src/app/icon.tsx
  src/lib/security/csrf.ts
Owners: @onephotolife, @frontend-team, @backend-team

ナビゲーション要素を削除し、メインコンテンツのスタイルを調整しました。これにより、UIがシンプルになり、メインコンテンツの表示が改善されました。
  src/app/globals.css
  src/app/layout.tsx
Owners: @frontend-team

フッター要素の位置を修正し、メインコンテンツのマージンを調整しました。これにより、UIの整合性が向上し、視覚的なバランスが改善されました。
  src/app/globals.css
  src/app/layout.tsx
Owners: @frontend-team

プライバシーポリシーのメタデータとページコンポーネントを新規作成しました。メタデータには最終更新日時、制定日、バージョン管理、更新履歴が含まれています。プライバシーポリシーページでは、収集する情報、利用目的、管理方法、ユーザーの権利などを詳細に説明しています。
  src/app/privacy/metadata.ts
  src/app/privacy/page.tsx
Owners: @frontend-team

お問い合わせページと利用規約ページのメタデータおよびコンポーネントを新規作成しました。メタデータには最終更新日時、制定日、バージョン管理、更新履歴が含まれています。お問い合わせページでは、ユーザーが情報を送信するためのフォームが実装され、利用規約ページではサービスの利用条件が詳細に説明されています。
  src/app/contact/metadata.ts
  src/app/contact/page.tsx
  src/app/terms/metadata.ts
  src/app/terms/page.tsx
Owners: @frontend-team

feat: 本番デプロイ設定の実装
  DEPLOYMENT_QUICK_GUIDE.md
  docs/DEPLOYMENT_GUIDE.md
  docs/MONGODB_ATLAS_SETUP.md
  docs/MONITORING_SETUP.md
  docs/PRODUCTION_ENV_SETUP.md
  docs/SECURITY_IMPLEMENTATION.md
  next.config.js
  package.json
  scripts/deploy-checklist.js
  scripts/generate-production-env.js
  scripts/vercel-env-setup.sh
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
  setup-chatwork.sh
  src/lib/security/headers.ts
  test-hook-debug.py
  vercel.json
Owners: @onephotolife, @tech-lead, @backend-team

docs: Vercel管理画面用の環境変数設定ガイド追加
  VERCEL_ENV_VARIABLES.md
Owners: @onephotolife

新しいマージスクリプトを追加し、feature/member-boardをmainブランチにマージするプロセスを自動化しました。これにより、マージ前の確認やリモートからの最新のmainの取得、マージ後のプッシュ確認が容易になりました。
  merge-to-main.sh
Owners: @onephotolife

fix: ルートページに会員制掲示板のコンポーネントを配置
  src/app/page.tsx
Owners: @frontend-team

fix: Hobbyプラン用にCronジョブを調整
  vercel.json
Owners: @onephotolife

fix: useSearchParamsのSuspense境界エラーを修正
  .claude_code_config.json.json
  clean-deploy.sh
  force-deploy.sh
  src/app/auth/verify-email/page.tsx
  vercel-debug.sh
  vercel-login-deploy.sh
  vercel-troubleshoot.sh
  verify-deployment.sh
Owners: @onephotolife, @frontend-team

fix: (main)ルートグループを削除してVercelビルドエラーを解決
  src/app/(main)/board/[id]/edit/page.tsx
  src/app/(main)/board/board-layout-client.tsx
  src/app/(main)/board/layout.tsx
  src/app/(main)/board/new/page.tsx
  src/app/(main)/board/page.tsx
  src/app/(main)/clean-test/page.tsx
  src/app/(main)/dashboard/page.tsx
  src/app/(main)/layout.tsx
  src/app/(main)/page.tsx
  src/app/(main)/posts/[id]/edit/page.tsx
  src/app/(main)/posts/[id]/page.tsx
  src/app/(main)/posts/new/page.tsx
  src/app/(main)/posts/page.tsx
  src/app/(main)/profile/__tests__/profile-integration.test.tsx
  src/app/(main)/profile/components/PasswordChangeDialog.tsx
  src/app/(main)/profile/components/__tests__/PasswordChangeDialog.test.tsx
  src/app/(main)/profile/page.tsx
  src/app/(main)/test-bio/page.tsx
  src/app/(main)/test-dashboard/page.tsx
  src/app/(main)/test-dialog/page.tsx
  src/app/(main)/test-email/page.tsx
  src/app/(main)/test-password-dialog/page.tsx
  src/app/(main)/test-profile-dialog/page.tsx
  src/app/(main)/test-profile-mock/page.tsx
Owners: @frontend-team, @qa-team

refactor: メール設定の環境変数名をEMAIL_SERVER_*に統一
  src/lib/email/config.ts
  vercel-env-setup.md
Owners: @backend-team, @onephotolife

fix: メール送信エラーの詳細ログとデバッグ機能を追加
  src/app/api/auth/register/route.ts
  src/lib/email/mailer.ts
Owners: @frontend-team, @backend-team

fix: メール設定の環境変数名の互換性を改善
  src/lib/email/config.ts
Owners: @backend-team

fix: さくらインターネットSMTPへの確実な接続を保証
  src/lib/email/config.ts
  src/lib/email/mailer.ts
Owners: @backend-team

fix: Gmailへの誤接続を防ぐため、さくらSMTPをハードコード
  src/lib/email/mailer.ts
Owners: @backend-team

fix: MongoDB hint()を条件付きに変更（Vercel互換性向上）
  src/app/api/posts/route.ts
Owners: @frontend-team

feat: LRUメモリキャッシュの実装
  src/lib/cache/memory-cache.ts
Owners: @backend-team

fix: レート制限を環境に応じて調整
  src/lib/security/rate-limiter.ts
Owners: @backend-team

chore: package-lock.json更新（lru-cache依存関係）
  package-lock.json
Owners: @onephotolife

fix: セキュリティ強化 - XSS/SQLi対策とCORS設定
  next.config.js
  src/app/api/posts/[id]/route.ts
  src/lib/security/enhanced-sanitizer.ts
Owners: @onephotolife, @frontend-team, @backend-team

feat: ユーザーエクスペリエンステスト エラー完全解決
  src/app/api/auth/route.ts
  src/app/api/health/light/route.ts
  src/app/api/health/route.ts
  src/app/api/performance/route.ts
  src/app/layout.tsx
  src/components/AppReadyNotifier.tsx
  src/components/NoScriptFallback.tsx
  src/lib/db/connection-manager.ts
  user-experience-error-resolution-completion-report.md
Owners: @frontend-team, @backend-team, @onephotolife

chore: アーカイブ整理と基本設定ファイル追加
  .gitignore
  .nvmrc
  deployment-safety-assessment-report.md
  production-deployment-success-report.md
  src/app/api/posts/route.ts
Owners: @onephotolife, @frontend-team

feat: マルチ環境対応インフラ設定を追加
  Dockerfile
  docker-compose.yml
  ecosystem.config.js
  nginx/conf.d/default.conf
Owners: @onephotolife

fix: 本番環境のコンソールエラーを修正
  src/app/layout.tsx
  src/components/AppReadyNotifier.tsx
Owners: @frontend-team

fix: メール送信エラーを修正（Gmailからさくらインターネットへ）
  console-errors-analysis.md
  console-errors-fix-report.md
  email-fix-report.md
  src/lib/email/mailer-fixed.ts
Owners: @onephotolife, @backend-team

fix: ログイン後の画面遷移問題を修正
  login-fix-report.md
  src/app/auth/signin/page.tsx
  src/lib/auth.config.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix: ログイン後の画面遷移問題を完全修正（ダッシュボードページ作成）
  login-complete-fix-report.md
  src/app/auth/signin/page.tsx
  src/app/dashboard/page.tsx
  src/lib/auth.config.ts
Owners: @onephotolife, @frontend-team, @backend-team

fix: ログイン画面遷移問題の深層修正とデバッグ機能追加
  src/app/api/debug/session/route.ts
  src/app/api/debug/test-login/route.ts
  src/app/auth/signin/page.tsx
  src/lib/auth.config.ts
Owners: @frontend-team, @backend-team

fix: NextAuth Cookieが作成されない問題を緊急修正
  src/lib/auth.config.ts
  src/lib/auth.ts
Owners: @backend-team

fix: 無限ループ問題を解決するため認証システムを完全再構築
  src/app/api/test/auth/route.ts
  src/app/test-login/page.tsx
  src/lib/auth-simple.config.ts
  src/lib/auth.ts
  src/middleware.ts
Owners: @frontend-team, @backend-team, @onephotolife

fix: JWTトークン取得問題を解決し、自動リダイレクトを実装
  infinite-loop-fix-test.md
  src/app/api/test/token/route.ts
  src/app/auth/signin/page.tsx
  src/middleware.ts
Owners: @onephotolife, @frontend-team

.github/CODEOWNERS:

# CODEOWNERS
# このファイルは、各ディレクトリ/ファイルの責任者を定義します
# 詳細: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# デフォルトのオーナー（すべてのファイル）
* @onephotolife

# ドキュメント
/docs/ @onephotolife
/README.md @onephotolife
/.github/ @onephotolife

# フロントエンド
/src/components/ @frontend-team
/src/app/ @frontend-team
/src/styles/ @frontend-team @design-team

# バックエンド
/src/api/ @backend-team
/src/lib/ @backend-team
/src/models/ @backend-team

# テスト
/src/**/__tests__/ @qa-team
/tests/ @qa-team
/playwright/ @qa-team

# 設定ファイル
/package.json @tech-lead
/tsconfig.json @tech-lead
/next.config.ts @tech-lead
/.env.example @tech-lead

# CI/CD
/.github/workflows/ @devops-team

# セキュリティ関連
/src/auth/ @security-team @backend-team
/src/middleware/ @security-team

# データベース
/src/models/ @database-team @backend-team
/migrations/ @database-team
